<!--超级管理员    数据库管理-->
<div class="nav-content">
   <a href="${base}/supAdmin/whichDb/toList" target="dialog" rel="aioerp_whichDb" width="820" height="450" class="nav-btn" ><img alt="账套管理" src="${base}/img/base/bought.png"><span>账套管理</span></a>
   <a href="${base}/sys/backup/toMainBackup" target="dialog" rel="sys_editPwd" width="330" height="270" class="nav-btn" ><img alt="数据备份" src="${base}/img/base/bought.png"><span>数据备份</span></a>
   <a href="${base}/sys/backup/toMainRecover" target="dialog" rel="sys_editPwd" width="550" height="500" class="nav-btn" ><img alt="数据恢复" src="${base}/img/base/bought.png"><span>数据恢复</span></a>
</div>
   
<div class="nav-content">
   <a style="margin-left:220px;" href="${base}/sys/backup/toAutoBackup" target="dialog" rel="sys_editPwd" width="550" height="500" class="nav-btn nav-fix" ><img alt="自动备份" src="${base}/img/base/bought.png"><span>自动备份</span></a>
   <a href="${base}/user/toEditPwd" target="dialog" rel="sys_editPwd" width="330" height="190" class="nav-btn" ><img alt="修改密码" src="${base}/img/base/bought.png"><span>修改密码</span></a>
</div>
