
<div class="pageContent">
   <form action="${base}/sys/billRow/edit" id="billRowForm" class="tableForm pageForm" enctype="text/plain" method="post" onsubmit="return validateCallback(this, dialogAjaxDone)">
    <h2 class="contentTitle">单据格式配置</h2>
    <div class="divider"></div>
	<div layoutH="100">
		<div style="float:left; width:198px;border:solid 1px #CCC;padding:1px;" layoutH="106">
			定位：<input name="location" id="billRowLocation" size="16"/>
			<a class="btnLook" style="margin-right:10px;cursor: pointer"  href="#" onclick="locationObj('billRowLocation','billRowUl')"></a>
			<div style=""  layoutH="128" class="typeList">
			  <ul target="ajax" id="billRowUl">
			    <#list typeList as type>
			    <li style="cursor: pointer;padding:2px;padding-top:8px;height:20px;"><a href="${base}/sys/billRow/search/${type.id!}" target="ajax"  rel="billRowList">${(type.name)!}</a></li>
			    </#list>
		       </ul>
			</div>
		</div>
		<div id="billRowList"  style="margin-left: 204px;" layoutH="102">
		     <#include "list.html"/> 
		</div>
   </div>
   <div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="button" onclick="$('#billRowForm').submit();">保存</button></div></div></li>
				<li><a class="button" href="${base}/sys/billRow/saveRank/" target="tableRowSortSave" rel="billRowList" warn="没有排序变更" targetType="dialog"><span>排序保存</span></a></li>
				<li><a class="button" href="javascript:void(0);" target="tableRowSort" rel="billRowList" targetType="dialog"><span>上移</span></a></li>
				<li><a class="button" href="javascript:void(0);" target="tableRowSort" sort="down" rel="billRowList" targetType="dialog"><span>下移</span></a></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">关闭</button></div></div></li>
			</ul>
   </div>
   </form>
</div>