<div class="pageContent">
  <div layoutH="35">
     <div style="text-align:center;margin:0 auto;margin-top: 15px;">
       <p>请输入另存为新模板的名称：</p>
       <input style="width: 220px;margin-top: 10px;" id="tmpName"/>
  	</div>
  </div>
 
  <div class="formBar">
	<ul>
		<li><div class="buttonActive"><div class="buttonContent"><button type="button" onclick="backDialogValSubmit(this,'tmpName','${base}/fz/produceTemplate/add')">确定</button></div></div></li>
		<li><div class="buttonActive"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
	</ul>
  </div>
</div>