
            
  <div class="pageFormContent" id="productPermissionList">
     <#include "productList.html"/>
  </div>
  <div class="pageFormContent" id="unitPermissionList">
     <#include "unitList.html"/>
  </div>
  <div class="pageFormContent" id="areaPermissionList">
     <#include "areaList.html"/>
  </div>
  <div class="pageFormContent" id="storagePermissionList">
     <#include "storageList.html"/>
  </div>
  <div class="pageFormContent" id="accountPermissionList">
     <#include "accountList.html"/>
  </div>
  <div class="pageFormContent" id="staffPermissionList">
     <#include "staffList.html"/>
  </div>
  <div class="pageFormContent" id="departmentPermissionList">
     <#include "departmentList.html"/>
  </div>
  
