<div class="panel">
	<div style="height: 25px;">
		<label><span style="font:bold 18px '宋体',Arial,Times; margin-left: 20px">商品信息</span></label>
		<#include "/WEB-INF/template/common/columnConfig/columnConfigSetLink.html"/>
	</div>
	<div>
		<div style="float:left; display:block; overflow:auto; width:210px; border:solid 1px #CCC; line-height:21px; background:#fff" layoutH="42">
			<ul id="b_product_treeId" target="ztree" selectNodeId="${supId!0}" class="ztree" url="${base}/base/product/tree" rel="b_product_paging" ctarget="ajax"></ul>
		</div>
		
		<div id="b_product_paging" style="margin-left: 220px; padding:2px;" layoutH="30">
			<#include "list.html" />
		</div>
	</div>
</div>