
<div class="pageContent">
   <form id="accountVoucherBillForm" class="tableForm pageForm" enctype="text/plain" method="post">
   <input type="hidden" name="billId" value="${(bill.id)!}"/>
	<div id="hasFujianClassId" <#if orderFuJianIds?length gt 0>class="textContent center fujianClass"<#else>class="textContent center"</#if>>
	      <div>
	         <span style="font-size: 18px;">会计凭证</span>
			 <span style="float: right;">
		                 录单日期
		     <input type="text"  name="accountVoucherBill.recodeDate" dateFmt="yyyy-MM-dd HH:mm:ss" value="<#if bill.recodeDate??>${(bill.recodeDate)?string("yyyy-MM-dd HH:mm:ss")}</#if>"  readonly="readonly"/>
		                单据编号
		     <input class="line required textInput" type="text" style="width: 200px" name="accountVoucherBill.code"  value="${(bill.code)!}" readonly="readonly"/>
		     </span>
	     </div>
	     <div>
	                           经手人 
	        <input class="line enter" type="text" name="staff.name" value="${(bill.getBillStaff(session.loginConfigId).name)!}" readonly="readonly"/>
	                    附加说明
	        <input class="line" type="text" style="width: 250px;" name="accountVoucherBill.memo" value="${(bill.memo)!}" id="memo" maxlength="500" readonly="readonly"/>
	     </div>
	     <#include "/WEB-INF/template/common/columnConfig/billRowConfigLink.html"/> 
	     <div style="float: right;">
		       <#include "/WEB-INF/template/common/lookBillPreOrNext/page.html"/>
		       <img style="margin-top: 5px;" onclick="openOrderFujianDialog('${base}','${tableId}','0','${(bill.id)!}');" title="单据附件" src="${base}/img/bill/fujian.jpg" alt="单据附件">
               <input type="hidden" id="orderFuJianIds" name="orderFuJianIds" value="${orderFuJianIds!}"/>
         </div>
	     <div>
	                          摘要
	        <input class="line" type="text" style="width:440px;" name="accountVoucherBill.remark" value="${(bill.remark)!}" maxlength="500" readonly="readonly"/>
	                     
	     </div>
	</div>
	<div class="divider"></div>
	<div class="pageContent">
	   <#assign showWidth = 0/>
	   <#list rowList as row>
	     <#if row.width??>
	      <#assign showWidth = showWidth+row.width/>
	     </#if>
	   </#list>
	   <table class="table" model="order"  layoutH="190" width="${showWidth!}px">
	   
	        <thead>
			 <tr>
				<th width="50px" >
					行号
				</th>
				<#list rowList as row>
				   <th width="${(row.width)!100}px"> 
					 ${(row.showName)!(row.name)!}
				   </th>
				</#list>
				
			</tr>
		  </thead>
		  <tbody>
		     <#list detailList as detail>
		     <tr>
		       <td>${detail_index+1}</td>
		       <!--  -->
		     <#list rowList as row>
		       <#if row.code?? && 'accountsCode'==row.code>
		       <!-- 科目编号-->
		       <td>
		           ${(detail.accounts.code)!}
		       </td> 
		       <#elseif row.code?? && 'accountsFullName'==row.code>
		       <!-- 科目名称 -->
		       <td>
		           ${(detail.accounts.fullName)!}
		       </td>
		       <#elseif row.code?? && 'accountsSmallName'==row.code>
		       <!-- 科目简称 -->
		       <td>${(detail.accounts.smallName)!}</td>
		       <#elseif row.code?? && 'accountsSpell'==row.code>
		       <!-- 科目拼音码 -->
		       <td>${(detail.accounts.spell)!}</td>
		       <#elseif row.code?? && 'accountsMemo'==row.code>
		       <!-- 科目备注 -->
		       <td>${(detail.accounts.memo)!}</td>
		       <#elseif row.code?? && 'accountsDetailName'==row.code>
		        <!-- 明细科目 -->
		       <td>${(detail.accountsDetail)!}</td>
		       <#elseif row.code?? && 'debitMoney'==row.code>
		       <!-- 借方金额 -->
		       <td>${(detail.debitMoney)!}</td>
		       <#elseif row.code?? && 'lendMoney'==row.code>
		       <!-- 贷方金额 -->
		       <td>${(detail.lendMoney)!}</td>
		       <#elseif row.code?? && 'memo'==row.code>
		       <!-- 摘要 -->
		       <td>${(detail.memo)!}</td>
		       <#elseif row.code?? && 'message'==row.code>
		       <!-- 附加信息 -->
		       <td>${(detail.message)!}</td>
		       <#else>
		         <td></td>
		       </#if>
		      </#list>
		     </tr>
		     </#list>
		  </tbody>
		  <tfoot>
		       <tr style="border-top: #D0D0D0 solid 1px">
		       <td>合计</td>
		       <#list rowList as row>
		            <#if row.code?? && 'debitMoney'==row.code>
		             <!-- 借方金额 -->
		             <td><input  class="stealth" name="accountVoucherBill.debitMoneys" id="debitMoneys" value="${(bill.debitMoneys)!}" readonly="readonly"/></td>
		             <#elseif row.code?? && 'lendMoney'==row.code>
		              <!-- 贷方金额 -->
		             <td><input  class="stealth" name="accountVoucherBill.lendMoneys" id="lendMoneys" value="${(bill.lendMoneys)!}" readonly="readonly"/></td>
		            <#else>
		            <td></td>
		            </#if>
		       </#list>
		      
		       </tr>
		  </tfoot>
	   </table>
	   <div class="divider"></div> 

		<div>
	     <div style="float: right;">
	        <#assign privs = '616-p'/>
	<#assign href = '${base}/finance/accountVoucher/print'/>
	<#assign formId = 'accountVoucherBillForm'/>
	<#include "/WEB-INF/template/common/print/printBtn.html"/>
			<a class="button" href="javascript:void(0);" onclick="navTab.closeCurrentTab()"><span>关闭</span></a>
	     </div>
	    </div>
	</div>
  </form>
</div>
