<div class="pageContent" id="boughtDialogTable">
<form id="pagerForm" action="${base}/sell/book/option" method="post">
	<!-- 保存条件 -->
	<input type="hidden" name="unitId" value="${unitId!0}"/>
	
	<input type="hidden" name="sellbookBill.code" value="${(bill.code)!}"/>
	<input type="hidden" name="unit.fullName" value="${unitName!}"/>
	<input type="hidden" name="staff.name" value="${staffName!}"/>
	<input type="hidden" name="product.fullName" value="${productName!}"/>
	<input type="hidden" name="storage.fullName" value="${storageName!}"/>
	<input type="hidden" name="sellbookBill.remark" value="${(bill.remark)!}"/>
	<input type="hidden" name="sellbookBill.memo" value="${(bill.memo)!}"/>
	<input type="hidden" name="detail.memo" value="${detailMemo!}"/>
	<input type="hidden" name="startDate" value="${startDate!}"/>
	<input type="hidden" name="endDate" value="${endDate!}"/>
</form>
      <h2 class="contentTitle">选择销售订单</h2>
      <div align="right" style="margin-right: 10px;margin-bottom: 5px;">
      	<a href="${base}/fz/reportRow/search/xsdd" target="dialog" title="订单列配置" rel="reportRowView"  width="520" height="500"><img src="${base}/img/base/setting.png" width="20px" height="20px" title="订单列配置"/></a>
      </div>
	  <table class="table"  width="200%" layoutH="360">
	      <thead>
	         <#list rowList as row>
			   <th align="center" width="${(row.width)!100}px">
				 ${(row.showName)!(row.name)!}
			   </th>
			 </#list>
	      </thead>
	      <tbody target="ajaxTodo">
	        <#list billList as bill>
	         <tr target="id" rel="${bill.bill.id!}" cTarget="ajaxTodo" crel="sellbookDetailTable" url="${base}/sell/book/detail/${bill.bill.id!}" style="cursor: pointer">
	            <#list rowList as row>
				<#assign columnObj = "" />
				<#if row.code?? && ((row.code)?index_of(".")>-1)>
					<#assign columnObj = (row.code)?substring(0,(row.code)?index_of(".")) />
					<#assign columnParam = (row.code)?substring((row.code)?index_of(".")+1) />
				<#else>
					<#assign columnParam = row.code />
				</#if>
			
				<#if row.code?? && ('recodeDate'==row.code || 'deliveryDate'==row.code)>
					<td>
						<#if bill[columnParam]?? >${bill[columnParam]?string("yyyy-MM-dd HH:mm:ss")}</#if>
					</td>
				<#else>
					<#if columnObj?? && columnObj!="">
						<td>${((bill[columnObj])[columnParam])!}</td>
					<#else>
						<td>${bill[columnParam]!}</td>
					</#if>
				</#if>
				</#list>
	         </tr>
	         </#list>
	      </tbody>
	  </table>
	  <div class="divider"></div>
	  <div id="sellbookDetailTable">
	    <#include "detailList.html"/>
	  </div>
	  <!--提交按钮  -->
	  <div class="formBar">
	    <a class="button" target="dialog" href="${base}/sell/book/dialogSearch?unitId=${unitId!}" rel="sellbookDialogSearch" width="450" height="430"><span>查询条件</span></a>
	    <a class="button" target="ajaxTodo" href="${base}/sell/bookDetail/checkBack/{id}" dialogId="xsd_dialog_id" rname="detailId" callback="xsdBillCallBackDetail"><span>选中</span></a>
		<ul>
			<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
		</ul>
	  </div>
	  <!--end 提交按钮  -->
</div>
