<div class="pageContent">
   <form action="${base}/init/financeInit/editInit" method="post" class="tableForm required-validate" enctype="text/plain" onsubmit="return validateCallback(this,updateTodoAndTee)">
      <input type="hidden" name="account.id" value="${account.id}"/>
      <input type="hidden" name="isPost" value=true><!-- 区别表单提交 -->
      <h1>修改期初</h1>
      <div  layoutH="70">
      	<div style="margin-top: 20px; margin-left: 60px;">
      		期初金额&nbsp;&nbsp;&nbsp;&nbsp;<input class="number" name="account.money" value="${(account.money)!0}" />
	     </div>
      </div>
	  <!--提交按钮  -->
	  <div class="formBar">
		<ul>
			<li><div class="buttonActive"><div class="buttonContent"><button type="submit" >确定</button></div></div></li>
			<li><div class="buttonActive"><div class="buttonContent"><button type="button" class="close">关闭</button></div></div></li>
		</ul>
	  </div>
	  <!--end 提交按钮  -->
   </form>
</div>
