<#import "/WEB-INF/template/common/base/header/addCommonPage.html" as orderHead>
<div class="pageContent">
   <input id="whichCallBack" type="hidden" value="transfer"/><!-- 用于区分不同模块库存商品带回进不同函数     ID是写死，value用于区分 -->
   <input id="basePathId" type="hidden" value="${base}"/><!-- 用于手工指定法    弹出窗体url -->
   <form id="transferBillForm" class="tableForm pageForm" enctype="text/plain" method="post" action="${base}/finance/transfer/add" onsubmit="return validateCallback(this, navTabAjaxDoneDialog)">
	<input type="hidden" id="billNum" name="transferBill.codeIncrease" value="${codeIncrease!}"/>
	<input type="hidden" id="billCode"  name="billCode" value="${code!}"/>
	<div id="hasFujianClassId" class="textContent center">
	
	<@orderHead.billCode title="内部转款单" billName="transferBill" />
	      <#--<div>
	         <span style="font-size: 18px;">内部转款单</span>
			 <span style="float: right;">
			                 录单日期
			     <input type="text"  name="transferBill.recodeDate" dateFmt="yyyy-MM-dd HH:mm:ss" value="${todayTime!}" hasClear="no" readonly="readonly"/>
			                单据编号
			     <input id="showBillCode" class="line required textInput" type="text" style="width: 200px" name="transferBill.code" value="${code!}" <#if codeAllowEdit?? && codeAllowEdit=="1">readonly="readonly"</#if>/>
		     </span>
	     </div>-->
	     <div>
	     
	     <@orderHead.staffTag />
	                     <#--      经手人 
	        <input type="hidden" name="staff.id" value="${(staff.id)!}"/>
	        <input type="hidden" name="staff.name" value="${(staff.name)!}"/>
	        <#if notEditStaff?? && notEditStaff==true>
	        	<input class="line" readonly="readonly" type="text" name="staff.name" value="${(staff.fullName)!}"/>
	        <#else>
	        	<input class="line enter" type="text" name="staff.name" />
	        	<a class="btnLook" id="staffLook" type="POST" btnPattern="optionAdd" rel="staffLookDialog" href="${base}/base/staff/dialogChild" module="navTab" warn="员工" lookupgroup="staff" lookuppk="id" width="600" height="410">职员</a>
	        </#if>-->
	        
	        
	        <@orderHead.dept />
	                     <#--     部门    
	        <input type="hidden" id="departmentId" name="department.id" value="<#if notEditStaff?? && notEditStaff==true>${(depm.id)!}</#if>"/>
	        <input type="text" class="line"  name="department.fullName" value="<#if notEditStaff?? && notEditStaff==true>${(depm.fullName)!}</#if>" lookName="department" lookId="department.id"/>    
	        <a class="btnLook" id="departmentLook" type="POST" btnPattern="optionAdd" href="${base}/base/department/option" module="navTab" warn="部门" lookupgroup="department" lookuppk="id" width="600" height="410">查找带回</a>-->       
	     </div>
	     <div>
	         
	         <@orderHead.summary billName="transferBill" />            
	                     <#--     摘要
	        <input class="line" type="text" style="width:220px;" name="transferBill.remark" value=""/>
	                          附加说明
	        <input class="line" type="text" style="width:220px;" name="transferBill.memo" value="" id="memo"/>-->
	     	<#include "/WEB-INF/template/common/columnConfig/billRowConfigLink.html"/>
	     	
	     	<@orderHead.attachment/>
	        <#--<div style="float: right;">
	           <img style="margin-left: 7px;" onclick="openOrderFujianDialog('${base}','${tableId}');" title="单据附件" src="${base}/img/bill/fujian.jpg" alt="单据附件">
		       <input type="hidden" id="orderFuJianIds" name="orderFuJianIds"/>
	        </div>-->
	     </div>
	</div>
	<div class="divider"></div>
	<div class="pageContent">
	   <#assign showWidth = 0/>
	   <#list rowList as row>
	     <#if row.width??>
	      <#assign showWidth = showWidth+row.width/>
	     </#if>
	   </#list>
	   <table class="table" model="order"  layoutH="220" width="${showWidth!}px">
	   
	        <thead>
			 <tr>
				<th width="50px" >
					行号
				</th>
				<#list rowList as row>
				   <th width="${(row.width)!100}px"> 
					 ${(row.showName)!(row.name)!}
				   </th>
				</#list>
				<th width="45px">
				   <a title="添加一行" class="btnAdd" target="addTr" href="javascript:void(0);" rel="transferBillbody"></a>
				</th>
			</tr>
		  </thead>
		  <tbody id="transferBillbody" preDataName="transferDetail">
		     <#list 1..15 as td>
		     <tr>
		       <td>${td_index+1}</td>
		       <!--  -->
		     <#list rowList as row>
		       <#if row.code?? && 'accountsCode'==row.code>
		       <!-- 科目编号-->
		       <td cname="accountsCode" validateAttr="" maxlength="50" onBlur="objDelOrClear(this,'accountsCode');"  cTarget="dialog"  title="会计科目选择" warn="会计科目选择"   enterSearch="true" searchUrl="${base}/base/accounts/accountsOneRecord/" editUrl="${base}/base/accounts/accountsDialogEdit/" url="${base}/base/accounts/accountsDialog/" rel="cw_account_dialog" dwidth="570" dheight="450"></td> 
		       <#elseif row.code?? && 'accountsFullName'==row.code>
		       <!-- 科目名称 -->
		       <td cname="accountsFullName" validateAttr=""  maxlength="50" onBlur="objDelOrClear(this,'accountsFullName');"  cTarget="dialog"  title="会计科目选择" warn="会计科目选择" enterSearch="true" searchUrl="${base}/base/accounts/accountsOneRecord/" editUrl="${base}/base/accounts/accountsDialogEdit/" url="${base}/base/accounts/accountsDialog/" rel="cw_account_dialog" dwidth="570" dheight="450"></td>
		       <#elseif row.code?? && 'accountsSmallName'==row.code>
		       <!-- 科目简称 -->
		       <td cname="accountsSmallName" readonly="readonly"></td>
		       <#elseif row.code?? && 'accountsSpell'==row.code>
		       <!-- 科目拼音码 -->
		       <td cname="accountsSpell"  readonly="readonly"></td>
		       <#elseif row.code?? && 'accountsMemo'==row.code>
		       <!-- 科目备注 -->
		       <td cname="accountsMemo" readonly="readonly"  maxlength="50"></td>
		       <#elseif row.code?? && 'money'==row.code>
		       <!-- 金额 -->
		       <td cname="money" validateAttr="number" requiredData="need"  maxlength="50" onBlur="inputAccountsMoney(this)"> </td>
		       <#elseif row.code?? && 'orderMemo'==row.code>
		       <!-- 单据备注 -->
		       <td cname="memo" validateAttr=""  requiredData="need" maxlength="50"> </td>
		       <#elseif row.code?? && 'message'==row.code>
		       <!-- 附加信息 -->
		       <td cname="message" validateAttr="" requiredData="need" maxlength="200"></td>
		       <#else>
		         <td></td>
		       </#if>
		      </#list>
		       <td><a title="删除本行" class="btnDel" href="javascript:void(0);" onclick="removeTr(this);"></a></td>
		     </tr>
		     </#list>
		  </tbody>
		  <tfoot>
		       <tr style="border-top: #D0D0D0 solid 1px">
		       <td>合计</td>
		       <#list rowList as row>
		            <#if row.code?? && 'money'==row.code>
		             <!-- 金额 -->
		             <td><input  class="stealth" name="transferBill.moneys" id="moneys" readonly="readonly"/></td>
		            <#else>
		            <td></td>
		            </#if>
		       </#list>
		       <td></td>
		       </tr>
		  </tfoot>
	   </table>
	   <div class="divider"></div> 
	   <div class="textContent center">
	     <div>
	         <span>
	                                            付款账户
	             <input type="hidden" name="account.id" id="accountId" value=""/>
                 <input type="hidden" name="account.fullName" value=""/>
                 <input class="line enter" type="text" name="account.fullName" value=""/>
                 <a class="btnLook" id="accountLook" param="0003,0004" type="POST" href="${base}/base/accounts/option" module="navTab" warn="会计科目选择" lookupgroup="account" lookuppk="id" width="500" height="350">会计科目选择</a>
	                                            实付金额
	             <input class="line number" type="text" value="0" name="transferBill.payMoney"/>
	         </span>
			 <span style="float: right;">
		               
		                合计：<input type="text" class="stealth" id="privilegeMoney" value="0" style="width: 100px" readonly="readonly"/>
		    </span>
	     </div>
	   </div>
		 <div class="divider"></div> 
		<div>
	     <div style="float: right;">
	   		<@shiro.hasPermission name='605-t'>
	        <a class="button"><span><button type="button" onclick="btnChangeFormAction(this)" action="${base}/finance/transfer/add">保存</button></span></a>
	        </@shiro.hasPermission>
	        <#if isFreeVersion != "yes">
	        <@shiro.hasPermission name='6-605-e'>
	        <a class="button"><span><button type="button" onclick="btnChangeFormAction(this)" action="${base}/finance/transfer/updateDraft">保存草稿</button></span></a>
	        </@shiro.hasPermission>
	     	</#if>
		    <#assign privs = '605-p'/>
			<#assign href = '${base}/finance/transfer/print'/>
			<#assign formId = 'transferBillForm'/>
			<#include "/WEB-INF/template/common/print/printBtn.html"/>
			<a class="button" href="javascript:void(0);" onclick="navTab.closeCurrentTab()"><span>关闭</span></a>
	     </div>
	    </div>
	</div>
  </form>
</div>
