<#import "/WEB-INF/template/common/base/header/addCommonPage.html" as orderHead>
<div class="pageContent" id="purchasePage" >
   <input type="hidden" id="whichCallBack" value="purchase">
   <form id="purchaseBillForm" class="tableForm pageForm" enctype="text/plain" method="post" action="${base}/bought/purchase/add" onsubmit="return validateCallback(this, navTabAjaxDoneDialog)">
	 <input type="hidden" id="billNum" name="purchaseBill.codeIncrease" value="${codeIncrease!}"/>
	<input type="hidden" id="billCode"  name="billCode" value="${code!}"/>
	<div id="hasFujianClassId" class="textContent center">
	
		<@orderHead.billCode title="进货单" billName="purchaseBill"/>

	     <div>
	        <@orderHead.unitTag text="供货单位" required = "required"/>                 
	        
	        <@orderHead.staffTag text="经手人" />                  
	          
	         <@orderHead.dept />   
	                        
	        <#if isFreeVersion != "yes"&&version!=1>                   
	                           付款日期
	        <input id="deliveryDate" type="text" class="date" name="purchaseBill.payDate" minDate="{%y}-%M-%d"  dateFmt="yyyy-MM-dd" value="${today!}" hasClear="no" readonly="readonly"/>
	        </#if>
	     </div>
	     <div>
	        <@orderHead.storageTag text="收货仓库" />
	                          
	        <@orderHead.summary billName="purchaseBill" />                
	        
	        <#if showDiscount?? && showDiscount>                
 				整单折扣
			<input style="width: 50px;" class="line number" type="text" id="discounts" onblur="inputAllDiscounts(this,{tbody:'purchasebody',event:'amountPriceDiscountChangePrivilege'})"  value="" max="10" maxlength="10"/>
			</#if>    
	        <#include "/WEB-INF/template/common/columnConfig/billRowConfigLink.html"/>
	        
	        <@orderHead.attachment bodyid="purchasebody" />
	       	     
	     </div>
	</div>
	<div class="divider"></div>
	<div class="pageContent">
	   <#assign showWidth = 100/>
	   <#list rowList as row>
	     <#if row.width??>
	      <#assign showWidth = showWidth+row.width/>
	     </#if>
	   </#list>
	   <table class="table" model="order" layoutH="240" width="${showWidth!}px">
	        <thead>
			 <tr>
				<th width="50px">
					行号
				</th>
				<#list rowList as row>
				   <th align="center" width="${(row.width)!100}px">
					 ${(row.showName)!(row.name)!}
				   </th>
				</#list>
				<th width="50px">
				   <a title="添加一行" class="btnAdd" target="addTr" href="javascript:void(0);" rel="purchasebody"></a>
				</th>
			</tr>
		  </thead>
		  <tbody id="purchasebody" preDataName="purchaseDetail">
		     <#include "/WEB-INF/template/common/columnConfig/costLookConfigLink.html"/>
		     <#list 1..15 as td>
		     <tr>
		       <td>${td_index+1}</td>
		      <#list rowList as row>
		       <#if row.code?? && 'code'==row.code>
		       <!-- 商品编号 -->
		       <td cTarget="dialog"  title="商品" warn="商品" billType="1" unitId="unitId" storageId="storageId" productId="productId" enterSearch="true" productSupId="supId" searchUrl="${base}/stock/stock/orderOneRecord/" editUrl="${base}/stock/stock/orderDialogEdit/" url="${base}/stock/stock/orderDialog/" rel="b_product_dialog" dwidth="680" dheight="450" type="text" requiredData="not"  onBlur="objDelOrClear(this,'code');" cname="code"></td>
		       <#elseif row.code?? && 'fullName'==row.code>
		       <!-- 商品名称 -->
		       <td cTarget="dialog"  title="商品" warn="商品" billType="1" unitId="unitId" storageId="storageId" productId="productId" enterSearch="true" productSupId="supId" searchUrl="${base}/stock/stock/orderOneRecord/" editUrl="${base}/stock/stock/orderDialogEdit/" url="${base}/stock/stock/orderDialog/" rel="b_product_dialog" dwidth="680" dheight="450" type="text" requiredData="not"  onBlur="objDelOrClear(this,'fullName');" cname="fullName"></td>
		       <#elseif row.code?? && 'smallName'==row.code>
		       <!-- 商品简称 -->
		       <td type="text"  validateAttr="" readonly="readonly" maxlength="50" cname="smallName"></td>
		       <#elseif row.code?? && 'spell'==row.code>
		       <!-- 商品拼音 -->
		       <td type="text"  validateAttr="" readonly="readonly" maxlength="50" cname="spell"></td>
		       <#elseif row.code?? && 'standard'==row.code>
		       <!-- 规格 -->
		       <td type="text"  validateAttr="" readonly="readonly" maxlength="50" cname="standard"></td>
		       <#elseif row.code?? && 'model'==row.code>
		       <!-- 型号 -->
		       <td type="text"  validateAttr="" readonly="readonly" maxlength="50" cname="model"></td>
		       <#elseif row.code?? && 'field'==row.code>
		       <!-- 产地 -->
		       <td type="text"  validateAttr="" readonly="readonly" maxlength="50" cname="field"></td>
		       <#elseif row.code?? && 'savePath'==row.code>
		       <!-- 图片 -->
		       <td type="text"  validateAttr="" readonly="readonly" cname="savePath"></td>
		       
		       <#elseif row.code?? && 'unit'==row.code>
		       <!-- 单位 -->
		       <td cTarget="dialog" validateAttr=""  hasDialog="dialogNotNull" billType="1" unitId="unitId" productId="productId" title="单位" rel="b_product_dialog"  url="${base}/base/product/calculateUnit/" dwidth="300" dheight="200" type="text" requiredData="not" readonly="readonly"  cname="baseUnit"></td>
		       <#elseif row.code?? && 'helpUnit'==row.code>
		       <!-- 辅助单位 -->
		       <td type="text"  readonly="readonly"  cname="assistUnit" ></td>
		       <#elseif row.code?? && 'produceDate'==row.code>
		       <!-- 生产日期 -->
		       <td requiredData="need" type="text" validateAttr="dateISO"  cname="produceDate" needEndDate="yes"></td>
		       <#elseif row.code?? && 'produceEndDate'==row.code>
		       <!-- 结束日期 -->
		       <td requiredData="need" type="text" validateAttr="dateISO"  cname="produceEndDate" where="abc"></td>
		       <#elseif row.code?? && 'batch'==row.code>
		       <!-- 批号 -->
		       <td requiredData="need" type="text"  cname="batch" maxlength="50"></td>
		       <#elseif row.code?? && 'helpAmount'==row.code>
		       <!-- 辅助数量 -->
		       <td type="text" readonly="readonly" cname="helpAmount"></td>
		       <#elseif row.code?? && 'amount'==row.code>
		       <!-- 数量 -->
		       <td cTarget="dialog" hasDialog="dialogNotNull" productId="productId" baseUnit="selectUnitId" title="数量"  rel="b_product_dialog"  url="${base}/base/product/recordAmount/" dwidth="350" dheight="200" type="text" validateAttr="number" cname="amount" requiredData="need" maxlength="20" onBlur="amountPriceDiscountChangePrivilege(this)"></td>
		       <#elseif row.code?? && 'baseAmount'==row.code>
		       <!-- 基本数量-->
		       <td type="text"  cname="baseAmount" readonly="readonly"></td>
		       <#elseif row.code?? && 'baseAmount1'==row.code>
		       <!-- 辅助数量1 -->
		       <td type="text"  cname="baseAmount1" readonly="readonly"></td>
		       <#elseif row.code?? && 'baseAmount2'==row.code>
		       <!-- 辅助数量2 -->
		       <td type="text"  cname="baseAmount2" readonly="readonly"></td>
		       <#elseif row.code?? && 'price'==row.code>
		       <!-- 单价 -->
		       <td cTarget="dialog"  costLookPermission="${costLookPermission!}" hasDialog="dialogNotNull" storageId="storageId" productId="productId" baseUnit="selectUnitId" title="请选择价格" rel="selectPricesDialog"  url="${base}/stock/stock/getProductPrics/" dwidth="300" dheight="280" type="text" requiredData="need" validateAttr="number" cname="price" maxlength="20" onBlur="amountPriceDiscountChangePrivilege(this)"></td>
		       <#elseif row.code?? && 'money'==row.code>
		       <!-- 金额 -->
		       <td type="text" costLookPermission="${costLookPermission!}" requiredData="need"  validateAttr="number" cname="money" maxlength="20" onBlur="moneyChangePrivilege(this)"></td>
		       <#elseif row.code?? && 'discount'==row.code>
		       <!-- 折扣 -->
		       <td type="text" requiredData="need" validateAttr="number" cname="discount" maxlength="20" onBlur="amountPriceDiscountChangePrivilege(this)"></td>
		       <#elseif row.code?? && 'discountPrice'==row.code>
		       <!-- 折后单价 -->
		       <td type="text" costLookPermission="${costLookPermission!}" requiredData="need" validateAttr="number" cname="discountPrice" maxlength="20" onBlur="discountPriceChangePrivilege(this)"></td>
		       <#elseif row.code?? && 'discountMoney'==row.code>
		       <!-- 折后金额 -->
		       <td type="text" costLookPermission="${costLookPermission!}" requiredData="need" validateAttr="number"  cname="discountMoney" maxlength="20" onBlur="discountMoneyChangePrivilege(this)"></td>
		       <#elseif row.code?? && 'taxRate'==row.code>
		       <!-- 税率 -->
		       <td type="text" requiredData="need" validateAttr="number" cname="taxRate" maxlength="20" onBlur="taxRateChangePrivilege(this)"></td>
		       <#elseif row.code?? && 'taxPrice'==row.code>
		       <!-- 含税单价 -->
		       <td type="text" costLookPermission="${costLookPermission!}" requiredData="need" validateAttr="number" cname="taxPrice" maxlength="20" onBlur="taxPriceChangePrivilege(this)"></td>
		       <#elseif row.code?? && 'tax'==row.code>
		       <!-- 税额 -->
		       <td type="text" costLookPermission="${costLookPermission!}" requiredData="need" cname="taxes" readonly="readonly"></td>
		       <#elseif row.code?? && 'taxMoney'==row.code>
		       <!-- 含税金额 -->
		       <td type="text" costLookPermission="${costLookPermission!}" requiredData="need" validateAttr="number" cname="taxMoney" maxlength="20" onBlur="taxMoneyChangePrivilege(this)"></td>
		       <#elseif row.code?? && 'memo'==row.code>
		       <!-- 备注 -->
		       <td type="text" requiredData="need" maxlength="500" cname="memo"></td>
		       <#elseif row.code?? && 'status'==row.code>
		       <!-- 状态 -->
		       <td type="text"  cname="status" readonly="readonly"></td>
		       <#elseif row.code?? && 'barCode'==row.code>
		       <!--条码 -->
		       <td type="text" requiredData="not" cname="barCode" readonly="readonly"></td>
		       <#elseif row.code?? && 'message'==row.code>
		       <!-- 附加信息 -->
		       <td type="text" requiredData="need" cname="message" maxlength="100"></td>
		       <#elseif row.code?? && 'storageCode'==row.code>
		       <!-- 仓库编号 -->
		        <td type="text" validateAttr=""  cname="storageCode" onBlur="objDelOrClear(this,'storageCode')" cTarget="dialog" hasDialog="dialogNotNull"  title="仓库" warn="仓库" storageSupId="storageSupId" productId="productId"  storageId="storageId" searchUrl="${base}/stock/stock/storageOneRecord/" editUrl="${base}/stock/stock/storageDialogEdit/" url="${base}/stock/stock/storageDialog/toDialog" rel="cc_storage_dialog" dwidth="570" dheight="450"></td>
		        <#elseif row.code?? && 'storageName'==row.code>
		        <!-- 仓库名称 -->
		        <td  type="text" validateAttr=""  cname="storageFullName" onBlur="objDelOrClear(this,'storageFullName')" cTarget="dialog" hasDialog="dialogNotNull"  title="仓库" warn="仓库" storageSupId="storageSupId" productId="productId"  storageId="storageId" searchUrl="${base}/stock/stock/storageOneRecord/" editUrl="${base}/stock/stock/storageDialogEdit/" url="${base}/stock/stock/storageDialog/toDialog" rel="cc_storage_dialog" dwidth="570" dheight="450"></td>
		       <#elseif row.code?? && 'retailPrice'==row.code>
		       <!--零售单价-->
		       <td type="text"  requiredData="need"  cname="retailPrice" readonly="readonly"></td>
		       <#elseif row.code?? && 'retailMoney'==row.code>
		       <!--零售金额-->
		       <td type="text"   requiredData="need" cname="retailMoney" readonly="readonly"></td>
		        <#else>
		        <td></td>
		        </#if>
		      </#list>
		       <td>
		       	  <a title="删除本行" class="btnDel" href="javascript:void(0);" onclick="removeTr(this,'purchase');"></a>
		       </td>
		     </tr>
		     </#list>
		  </tbody>
		  <tfoot>
		       <tr style="border-top: #D0D0D0 solid 1px">
		       <td>合计</td>
		       <#list rowList as row>
		            <#if row.code?? && 'amount'==row.code>
		             <!-- 总数 -->
		             <td><input name="purchaseBill.amounts" class="stealth" id="amounts"  readonly="readonly"/></td>
		            <#elseif row.code?? && 'money'==row.code>
		            <!-- 总价 -->
		            <td>
		                <input type="${costInputType!'text'}" name="purchaseBill.moneys" class="stealth" id="moneys" readonly="readonly"/>
		                <@shiro.lacksPermission name='1101-s'>
							***
						</@shiro.lacksPermission>
		            </td>
		            <#elseif row.code?? && 'discountMoney'==row.code>
		            <!-- 折后总价 -->
		            <td>
		                <input type="${costInputType!'text'}" name="purchaseBill.discountMoneys"  class="stealth" id="discountMoneys" readonly="readonly"/>
		                <@shiro.lacksPermission name='1101-s'>
							***
						</@shiro.lacksPermission>
		            </td>
		            <#elseif row.code?? && 'tax'==row.code>
		             <!-- 税额 -->
		            <td>
		                <input type="${costInputType!'text'}" name="purchaseBill.taxes"  class="stealth" id="taxes" readonly="readonly"/>
		                <@shiro.lacksPermission name='1101-s'>
							***
						</@shiro.lacksPermission>
		            </td>
		            <#elseif row.code?? && 'taxMoney'==row.code>
		            <!-- 含税金额 -->
		            <td>
		                 <input  name="purchaseBill.taxMoneys" class="stealth"  id="taxMoneys" readonly="readonly"/>
		                 <@shiro.lacksPermission name='1101-s'>
							***
						</@shiro.lacksPermission>
		            </td>
		            <#elseif row.code?? && 'retailMoney'==row.code>
		            <!-- 零售金额 -->
		            <td><input  name="purchaseBill.retailMoneys" class="stealth"  id="retailMoneys" readonly="readonly"/></td>
		            <#else>
		            <td></td>
		            </#if>
		       </#list>
		       <td></td>
		       </tr>
		 </tfoot>
	   </table>
	   <div class="divider"></div>
	   <div class="textContent center">
	     <div>
	     	 <#import "/WEB-INF/template/common/base/payOrGet/getOrPayTemplate.html" as footer>
		     <@footer.pageFooter field="purchaseBill.payMoney" accountName="付款账户" accountMoney=" 付款金额"/>

			 <span style="float: right;">
		                优惠金额<input class="line number" type="text" id="privilege"  name="purchaseBill.privilege" value="0" onblur="privilegeMoneyTotal()"/> 
		                 优惠后金额：<input type="${costInputType!'text'}" class="stealth" id="privilegeMoney" name="purchaseBill.privilegeMoney" value="0" style="width: 100px" readonly="readonly"/>
		                 <@shiro.lacksPermission name='1101-s'>
		                 <span style="margin-right: 100px;text-align: left">
							***
					     </spans>
					 </@shiro.lacksPermission>
		    </span>
	     </div>
	     </div>
	    <div class="divider"></div> 
		<div>
	     <div style="float: right;">
	        <@shiro.hasPermission name='302-t'>
	        <a class="button" href="${base}/bought/purchase/add" target="submit"><span>保存</span></a>
	        </@shiro.hasPermission>
	        <#if isFreeVersion != "yes">
	        <a class="button" href="${base}/bought/purchase/draft/add" target="submit"><span>保存草稿</span></a>
	        <@shiro.hasPermission name='301-s'>
	        <a class="button" href="${base}/bought/bought/option" target="dialog" rel="boughtAndDialog" width="750" height="580" param="unitId,staffId,storageId"><span>进货订单</span></a>
	        </@shiro.hasPermission>
	        </#if>
	        <#assign privs = '302-p'/>
			<#assign href = '${base}/bought/purchase/print'/>
			<#assign formId = 'purchaseBillForm'/>
			<#include "/WEB-INF/template/common/print/printBtn.html"/>
	        <a class="button" href="javascript:void(0);" onclick="navTab.closeCurrentTab()"><span>关闭</span> </a>
	     </div>
	    </div>
	</div>
  </form>
</div>

