<form id="pagerForm" enctype="text/plain" onsubmit="return divSearch(this, 'warningList');" action="${base}/fz/warningCentre/productExpire" method="post">
	<input type="hidden" name="pageNum" value="${pageMap.pageNum!1}" />
	<input type="hidden" name="numPerPage" value="${pageMap.numPerPage!15}" />
	<input type="hidden" name="orderField" value="${orderField!'product.rank'}" /><!--查询排序-->
    <input type="hidden" name="orderDirection" value="${orderDirection!'asc'}" /><!--升序降序-->
	
	<input type="hidden" id="storage.id" name="storage.id" value="${storageId!0}"/>
	<input type="hidden" id="storage.pids" name="storage.pids" value="${storagePids!'{0}'}"/>
	
	<input type="hidden" id="aheadDay" class="digits" name="aheadDay" value="${aheadDay!0}"/>
</form>

<table class="table" rel="warningList" layoutH="150">
	<thead>
		<tr>
			<th width="45" align="center" >行号</th>
			<th width="100" align="center"  orderField="product.code" <#if orderField?? && 'product.code'==orderField>class="${orderDirection!'asc'}"<#else>class="asc"</#if> >商品编号</th>
			<th width="100" align="center"  orderField="product.fullName" <#if orderField?? && 'product.fullName'==orderField>class="${orderDirection!'asc'}"<#else>class="asc"</#if> >商品全名</th>
			<th width="100" align="center"  orderField="storage.code" <#if orderField?? && 'storage.code'==orderField>class="${orderDirection!'asc'}"<#else>class="asc"</#if> >仓库编号</th>
			<th width="100" align="center"  orderField="storage.fullName" <#if orderField?? && 'storage.fullName'==orderField>class="${orderDirection!'asc'}"<#else>class="asc"</#if> >仓库全名</th>
			<th width="100" align="center"  orderField="amount" <#if orderField?? && 'amount'==orderField>class="${orderDirection!'asc'}"<#else>class="asc"</#if> >库存数量</th>
			<th width="100" align="center"  orderField="costPrice" <#if orderField?? && 'costPrice'==orderField>class="${orderDirection!'asc'}"<#else>class="asc"</#if> >成本单价</th>
			<th width="100" align="center"  orderField="product.validity" <#if orderField?? && 'product.validity'==orderField>class="${orderDirection!'asc'}"<#else>class="asc"</#if> >保质期（天）</th>
			<th width="100" align="center"  orderField="produceDate" <#if orderField?? && 'produceDate'==orderField>class="${orderDirection!'asc'}"<#else>class="asc"</#if> >生产日期</th>
			<th width="100" align="center"  orderField="dueDate" <#if orderField?? && 'dueDate'==orderField>class="${orderDirection!'asc'}"<#else>class="asc"</#if> >到期日期</th>
		</tr>
	</thead>
	<tbody>
		<#list pageMap.pageList as expire>
		<tr>
			<td align="center"><a>${expire_index+1+pageMap.limit}</a></td>
			<td align="center">${expire.product.code!}</td>
			<td align="center">${expire.product.fullName!}</td>
			<td align="center">${expire.storage.code!}</td>
			<td align="center">${expire.storage.fullName!}</td>
			<td align="center">${expire.amount!}</td>
			<td align="center">
			      
			    <@shiro.hasPermission name='1101-s'>
			      ${expire.costPrice!}
			   </@shiro.hasPermission>
			   <@shiro.lacksPermission name='1101-s'>
			        ***
			   </@shiro.lacksPermission>
			</td>
			<td align="center">${expire.product.validity!}</td>
			<td align="center"><#if expire.produceDate??>${(expire.produceDate)?string("yyyy-MM-dd")}</#if></td>
			<td align="center"><#if expire.produceEndDate??>${(expire.produceEndDate)?string("yyyy-MM-dd")}</#if></td>
		</tr>
		</#list>
	</tbody>
</table>

<#include "/WEB-INF/template/unitl/paging.html"/>
	
<div class="divider"></div>
<div>
    <form class="tableForm">
                     保质期提前报警天数 <input  class="digits" onblur="navTabPageBreak({aheadDay:this.value},'${(pageMap.listID)!''}')" value="${aheadDay!0}" size="5" maxlength="5"/>
    </form>
	
</div>
<div style="float: right; margin-top: -20px;">
     <#assign privs = '8-807-p'/>
	<#assign href = '${base}/fz/warningCentre/productExpirePrint'/>
	<#assign formId = 'pagerForm'/>
	<#include "/WEB-INF/template/common/print/printBtn.html"/>
	<a class="button" href="javascript:;" onclick="navTab.closeCurrentTab()"><span>关闭</span></a>
</div>