<div class="pageContent">
  
	<div layoutH="30" style="">
	  <div class="aboutcontent">注册卡号：${cardno!}</div>
	  <div class="aboutcontent">加密狗号：${dogno!}</div>
	  <div class="aboutcontent">用户数：${userCount!}</div>
	  <div class="aboutcontent">公司名称：${company!}</div>
	  <div class="aboutcontent">地区：${address!}</div>
	  <div class="aboutcontent">注册日期：${registerDate!}</div>
   </div>
  <div class="formBar">
      <ul>
			<li><div class="button"><div class="buttonContent"><button type="button" class="close">关闭</button></div></div></li>
	  </ul>
  </div>
</div>