<div>
   <form id="form2" action="${base}/sys/register" class="pageForm" method="post" 
        onsubmit="return validateCallback(this,aioDialogAjaxDone);">
           <table>
		      <tr style="height: 40px;">
		         <td colspan="2" style="text-align: right;"><a style="color:blue;text-decoration:underline;" target="_blank" href="http://www.aioerp.com/pregister-active.html">注册地址</a></td>
		      </tr>
		      <tr style="height: 40px;">
		         <td style="text-align: right;">激活码:</td>
		         <td>
		         	<textarea class="required" rows="3" cols="30" name="activecode"></textarea>
		         </td>
		      </tr>
		   </table>
	  <!--提交按钮  -->
	  <div class="formBar">
		 <ul>
			<li><div class="buttonActive"><div class="buttonContent"><button type="submit">确定</button></div></div></li>
		 </ul>
      </div>
	  <!--end 提交按钮  -->
   </form>
</div>


