
<table>
	<tr height="35px;">
		<td align="right">公司全名</td>
		<td colspan="3">
			<input type="hidden" name="sysUser.id" value="${(sysUser.id)!}"/>
			<input style="width: 255px;" name="sysUser.fullName" value="${(sysUser.fullName)!}"/>
		</td>
	</tr>
	<tr height="35px;">
		<td align="right">公司简称</td>
		<td><input style="width: 100px;" name="sysUser.smallName" value="${(sysUser.smallName)!}"/></td>
		<td align="right">联系电话</td>
		<td><input style="width: 100px;" name="sysUser.phone" value="${(sysUser.phone)!}"/></td>
	</tr>
	<tr height="35px;">
		<td align="right">公司地址</td>
		<td colspan="3"><input style="width: 255px;" name="sysUser.address" value="${(sysUser.address)!}"/></td>
	</tr>
	<tr height="35px;">
		<td align="right">传真号码</td>
		<td><input style="width: 100px;" name="sysUser.fax" value="${(sysUser.fax)!}"/></td>
		<td align="right">邮政编码</td>
		<td><input style="width: 100px;" name="sysUser.zipCode" value="${(sysUser.zipCode)!}"/></td>
	</tr>
	<tr height="35px;">
		<td align="right">法人代表</td>
		<td colspan="3"><input style="width: 255px;" name="sysUser.corp" value="${(sysUser.corp)!}"/></td>
	</tr>
	<tr height="35px;">
		<td align="right">税务登记号</td>
		<td colspan="3"><input style="width: 255px;" name="sysUser.taxNum" value="${(sysUser.taxNum)!}"/></td>
	</tr>
	<tr height="35px;">
		<td align="right">开户银行及账号</td>
		<td colspan="3"><input style="width: 255px;" name="sysUser.bank" value="${(sysUser.bank)!}"/></td>
	</tr>
	<tr height="35px;">
		<td align="right">主页地址</td>
		<td colspan="3"><input style="width: 255px;" name="sysUser.home" value="${(sysUser.home)!}"/></td>
	</tr>
	
</table>
