<form id="pagerForm" class="pageForm required-validate" enctype="text/plain" onsubmit="return navTabSearch(this);" method="post" action="${base}/base/unit/${toAction!'list'}/${supId}">
	<input type="hidden" name="pageNum" value="${(pageMap.pageNum)!}" />
	<input type="hidden" name="numPerPage" value="${(pageMap.numPerPage)!}" />
	<input type="hidden" name="orderField" value="${orderField!'rank'}" /><!--查询排序-->
    <input type="hidden" name="orderDirection" value="${orderDirection!'asc'}" /><!--升序降序-->
	
	<!--筛选       第一次筛选结果条件保存   方便第二次过滤筛选 -->
	<input id="b_unit_filter_attr" type="hidden" name="searchPar1" value="${searchPar1!''}"/>
	<input id="b_unit_filter_value" type="hidden" name="searchValue1" value="${searchValue1!''}"/>
	<input  type="hidden" name="supId" value="${supId!'all'}"/>   <!-- 点击树节点，搜索树下面的数据 -->
	<input type="hidden"  name="node" value="${node!0}"/>
	<!--end 第一次筛选结果条件保存   方便第二次过滤筛选 -->
	
	<input type="hidden" name="showLastPage" id="showLastPage" />   <!-- 新增，复制新增完成后跳转到最后一页 -->
	<input type="hidden" name="selectedObjectId" id="selectedObjectId" />   <!-- 新增，复制新增完成后跳转到最后一页     选中的Id -->
</form> 
<#include "/WEB-INF/template/common/columnConfig/tableTotalWidthLink.html"/>
<table class="table" rel="b_unit_listTable" layoutH="140">
	<#include "/WEB-INF/template/common/columnConfig/tableHeadLink.html"/>
	<tbody>
		<#list pageMap.pageList as unit>
	    <#if unit.node==2>
	    <!-- index,sequence用于上下移动参数 -->
		<tr  objectId="${objectId!0}" status="false" order="${unit.rank}" oldOrder="${unit.rank}" target="id" trel="b_unit_treeId" rel="${unit.id}" crel="b_unit_listTable" cTarget="ajax" url="${base}/base/unit/list/${unit.id}">
		<#else>
		<tr objectId="${objectId!0}" status="2" order="${unit.rank}" oldOrder="${unit.rank}" target="id" rel="${unit.id}" title="修改" crel="b_unit_listTable" drel="unit_edit_${unit.id}" <@shiro.hasPermission name='1-21-203-u'>cTarget="dialog"</@shiro.hasPermission> widths="620" heights="550" url="${base}/base/unit/edit/${unit.id}">
		</#if>
			<td><a>${unit_index+1+pageMap.limit}</a><#if unit.node==2>..</#if></td>
			<#list rowList as row>
			<#if row.code?? && 'code'==row.code>
			<td>${unit.code!''}</td>
			<#elseif row.code?? && 'fullName'==row.code>
			<td>${unit.fullName!''}</td>
			<#elseif row.code?? && 'smallName'==row.code>
			<td>${unit.smallName!''}</td>
			<#elseif row.code?? && 'spell'==row.code>
			<td>${unit.spell!''}</td>
			<#elseif row.code?? && 'address'==row.code>
			<td>${unit.address!''}</td>
			<#elseif row.code?? && 'phone'==row.code>
			<td>${unit.phone!''}</td>
			<#elseif row.code?? && 'email'==row.code>
			<td>${unit.email!''}</td>
			<#elseif row.code?? && 'contact1'==row.code>
			<td>${unit.contact1!''}</td>
			<#elseif row.code?? && 'mobile1'==row.code>
			<td>${unit.mobile1!''}</td>
			<#elseif row.code?? && 'contact2'==row.code>
			<td>${unit.contact2!''}</td>
			<#elseif row.code?? && 'mobile2'==row.code>
			<td>${unit.mobile2!''}</td>
			<#elseif row.code?? && 'staffFullName2'==row.code>
			<td>${unit.staffFullName2!''}</td>
			<#elseif row.code?? && 'bank'==row.code>
			<td>${unit.bank!''}</td>
			<#elseif row.code?? && 'bankAccount'==row.code>
			<td>${unit.bankAccount!''}</td>
			<#elseif row.code?? && 'zipCode'==row.code>
			<td>${unit.zipCode!''}</td>
			<#elseif row.code?? && 'fax'==row.code>
			<td>${unit.fax!''}</td>
			<#elseif row.code?? && 'tariff'==row.code>
			<td>${unit.tariff!''}</td>
			<#elseif row.code?? && 'areaFullName2'==row.code>
			<td>${unit.areaFullName2!''}</td>
			<#elseif row.code?? && 'fitPrice'==row.code>
			<td>
			    <#if unit.fitPrice == 0>
				无
				<#elseif unit.fitPrice == 1>
				零售价
				<#elseif unit.fitPrice == 2>
				预设售价1
				<#elseif unit.fitPrice == 3>
				预设售价2
				<#elseif unit.fitPrice == 4>
				预设售价3	
				</#if>
			</td>
			<#elseif row.code?? && 'status'==row.code>
			<td id="status${unit.id}">
				<#if unit.node?number == 1>
					<#if unit.status?number == 1>停用</#if>
					<#if unit.status?number == 2>启用</#if>
				</#if>
			</td>
			</#if>
			</#list>
		</tr>
		</#list>
	</tbody>
</table>
<#include "/WEB-INF/template/unitl/paging.html"/>
<!--divider虚线-->
<div class="divider"></div>
<div>
<div align="left"> 
    <@shiro.hasPermission name='1-21-203-a'>
	<a class="button" target="dialog" rel="b_unit_id" href="${base}/base/unit/add/${supId}" href1="${base}/common/baseInfo/verifyBaseAddPrivs/${supId!0}-unit" modelType="newUrlValidate" callBefore="callBeforeNavTabValidate" title="基本信息●单位信息" width="620" height="550" ><span>新增</span></a> 
	<a class="button" target="dialog" rel="b_unit_id" href="${base}/base/unit/copyAdd/{id}" href1="${base}/common/baseInfo/verifyBaseAddPrivs/${supId!0}-unit" modelType="newUrlValidate" callBefore="callBeforeNavTabValidate" width="620" height="550"><span>复制新增</span></a>
	<a class="button" target="dialog" rel="b_unit_id" href="${base}/base/unit/sort/{id}"  href1="${base}/common/baseInfo/verifyBaseAddPrivs/{id}-unit-sort" modelType="newUrlValidate" callBefore="callBeforeNavTabValidate" title="基本信息●单位信息" width="620" height="550" ><span>增加下级</span></a> 
	</@shiro.hasPermission>
	<@shiro.hasPermission name='1-21-203-u'> 
	<a class="button" target="dialog" rel="b_unit_id" href="${base}/base/unit/edit/{id}" width="620" height="550"><span>修改</span></a> 
	<a class="button" target="ajaxTodo" href="${base}/base/unit/delete/{id}" callback="removeTreeAjaxTodo" title="数据删除后不能恢复，确认删除？"><span>删除</span></a> 
	</@shiro.hasPermission>
	<#if node?? && node == 1>
		<a class="buttonDisabled" href="javascript:;"><span>列表</span></a>
	<#else>
		<a class="button" href="${base}/base/unit/list/${supId}?actionType=line" target="ajax" rel="b_unit_listTable"><span>列表</span></a> 
	</#if>
	<a class="button" target="dialog" rel="b_unit_filter" href="${base}/base/unit/filter" title="条件查询" width="400" height="210"><span>查询</span></a>
	<#if supId?? && supId!=0 && node!=1>
      <a class="button" href="${base}/base/unit/list/${pSupId!0}-${supId}" trel="b_unit_treeId" nodeId="${pSupId!0}"  target="ajax" rel="b_unit_listTable"><span>上级</span></a>  
    <#else>
       <a class="buttonDisabled" href="javascript:void(0);"><span>上级</span></a>
    </#if>
    </div>
    <div style="float: right;">
    <@shiro.hasPermission name='1-21-203-u'> 
	<a class="button" target="ajaxTodo" href="${base}/base/unit/disableOrEnable/{id}" isExec="{status}" warn="不能操作一类基础数据！"  callback="editStatus"><span>停用/启用</span></a>
	</@shiro.hasPermission>
	<a class="button" href="javascript:void(0);" target="tableRowSort" rel="b_unit_listTable" sort="up"><span>上移</span></a>
	<a class="button" href="javascript:void(0);" target="tableRowSort" sort="down" rel="b_unit_listTable"><span>下移</span></a> 
    <a class="button" href="${base}/base/unit/saveRank" target="tableRowSortSave" rel="b_unit_listTable" warn="没有排序变更"><span>排序保存</span></a> 
    <#assign privs = '1-21-203-p'/>
    <#assign href = '${base}/base/unit/print'/>
    <#assign formId = 'pagerForm'/>
    <#include "/WEB-INF/template/common/print/printBtn.html"/>
    <a class="button" href="#" onclick="navTab.closeCurrentTab()"><span>关闭</span> </a> 
    </div>
</div>