<div class="panel" id="pagePanel">
	<div style="height: 25px;">
		<label><span style="font:bold 18px '宋体',Arial,Times; margin-left: 20px">${showName!""}</span></label>
		<#include "/WEB-INF/template/common/columnConfig/columnConfigSetLink.html"/>
	</div>
	<div layoutH="20">
		<div style="float:left; display:block; overflow:auto; width:210px; border:solid 1px #CCC; line-height:21px; background:#fff" layoutH="42">
			<ul id="${trel}" target="ztree"  selectNodeId="${supId!0}" class="ztree" url="${base}/base/accounts/tree/${accountType!''}" selectNodeId="${pSupId!0}" rel="${refreshTable}" ctarget="ajax"></ul>
		</div>
		
		<div id="${refreshTable}" style="margin-left: 220px; padding:2px;" layoutH="30">
			<#include "list.html" />
		</div>
	</div>
</div>
