<#import "/WEB-INF/template/common/base/header/addCommonPage.html" as orderHead>
<!-- 销售退货单添加  -->
<div class="pageContent" id="boughtPage" >
   <input id="whichCallBack" type="hidden" value="sellReturn"/><!-- 用于区分不同模块库存商品带回进不同函数     ID是写死，value用于区分 -->
   <input id="basePathId" type="hidden" value="${base}"/><!-- 用于手工指定法    弹出窗体url -->
   <form id="xsth_sellForm" class="tableForm pageForm" enctype="text/plain" method="post" action="${base}/sell/return/add" onsubmit="return validateCallback(this, navTabAjaxDoneDialog)">
	
	<input type="hidden" id="billNum" name="sellReturnBill.codeIncrease" value="${codeIncrease!}"/>
	<input type="hidden" id="billCode"  name="billCode" value="${code!}"/>
	
	<input type="hidden" id="priceStockHasComfirmId" name="priceStockHasComfirmId" value="nhas"/><!-- 销售退货-->
	<div id="hasFujianClassId" class="textContent center">
	
	<@orderHead.billCode title="销售退货单" billName="sellReturnBill"/>
	      <#--<div>
	         <span style="font-size: 18px;">销售退货单</span>
			 <span style="float: right;">
		                 录单日期
		     <input type="text" class="date required"  name="sellReturnBill.recodeDate" dateFmt="yyyy-MM-dd HH:mm:ss" value="${todayTime!}" hasClear="no" readonly="readonly"/>
		                单据编号
		    <input id="showBillCode" class="line required textInput" type="text" style="width: 200px" name="sellReturnBill.code"  value="${code!}" <#if codeAllowEdit?? && codeAllowEdit=="1">readonly="readonly"</#if>/>
		    </span>
	     </div>-->
	     <div>
	     <@orderHead.unitTag text="退货单位" />
	                <#--         退货单位
	        <#include "/WEB-INF/template/common/base/unit/billLink.html"/> -->
	        
	      <@orderHead.staffTag/>                  
	                   <#--        经手人 
	        <#include "/WEB-INF/template/common/base/staff/billLink.html"/>-->
	        
	        <@orderHead.dept />                  
	                     <#--       部门    
	        <#include "/WEB-INF/template/common/base/dept/billLink.html"/>-->               
	        <#if isFreeVersion != "yes"&&version!=1>                    
	                           交货日期
	        <input type="text" class="date" name="sellReturnBill.deliveryDate" minDate="{%y}-%M-%d" dateFmt="yyyy-MM-dd" value="${today!}" hasClear="no" readonly="readonly"/>
	        </#if>
	     </div>
	     <div>
	     
	     <@orderHead.storageTag text="收货仓库"/>
	                   <#--        收货仓库
	        <#include "/WEB-INF/template/common/base/storage/billLink.html"/>-->
	     
	     <@orderHead.summary  billName="sellReturnBill" />                
	                     <#--     摘要
	        <input style="width: 250px;" class="line" type="text" name="sellReturnBill.remark" id="remark" value=""/>
	                          附加说明
	        <input style="width: 250px;" class="line" type="text" name="sellReturnBill.memo" id="memo" value=""/>-->
	        <#if showDiscount?? && showDiscount>                  
	                          整单折扣
	        <input style="width: 50px;" class="line number" type="text" id="discounts" onblur="inputAllDiscounts(this,{tbody:'sellreturnbody',event:'amountPriceDiscountChangePrivilege'})" name="sellReturnBill.discounts"  value="" max="10" maxlength="10"/>
	        </#if>
	        <#include "/WEB-INF/template/common/columnConfig/billRowConfigLink.html"/>
	        
	        <@orderHead.attachment bodyid="sellreturnbody"/>
	        <#--<span style="float: right;">
		        <div style="float: right;">
		        <img style="margin-top: 5px;" onclick="productMerge(this);" title="商品合并" bodyid="sellreturnbody" src="${base}/img/bill/merge.jpg" alt="商品合并">
		        <img style="margin-left: 7px;" onclick="openOrderFujianDialog('${base}','${tableId}');" title="单据附件" src="${base}/img/bill/fujian.jpg" alt="单据附件">
		        <input type="hidden" id="orderFuJianIds" name="orderFuJianIds"/>
		        </div>
		    </span>-->
	     </div>
	</div>
	<div class="divider"></div>
	<div class="pageContent">
	   <#assign showWidth = 0/>
	   <#list rowList as row>
	     <#if row.width??>
	      <#assign showWidth = showWidth+row.width/>
	     </#if>
	   </#list>
	   <table class="table" model="order"  layoutH="251" width="${showWidth!}px">
	        <thead>
			 <tr>
				<th width="50px" >
					行号
				</th>
				<#list rowList as row>
				   <th width="${(row.width)!100}px"> 
					 ${(row.showName)!(row.name)!}
				   </th>
				</#list>
				<th width="45px">
				   <a title="添加一行" class="btnAdd" target="addTr" href="javascript:void(0);" rel="sellreturnbody"></a>
				</th>
			</tr>
		  </thead>
		  <tbody id="sellreturnbody" preDataName="sellReturnDetail">
		     <#list 1..15 as td>
		     <tr>
		       <td>${td_index+1}</td>
		       <!--  -->
		     <#list rowList as row>
		       <#if row.code?? && 'code'==row.code>
		       <!-- 商品编号-->
		       <td cname="code" validateAttr="" maxlength="50" billType="2" unitId="unitId" onBlur="objDelOrClear(this,'code');" storageId="storageId" cTarget="dialog"  title="商品" warn="商品"  productId="productId" enterSearch="true" productSupId="supId" searchUrl="${base}/stock/stock/orderOneRecord/" editUrl="${base}/stock/stock/orderDialogEdit/" url="${base}/stock/stock/orderDialog/" rel="b_product_dialog" dwidth="680" dheight="450"></td> 
		       <#elseif row.code?? && 'fullName'==row.code>
		       <!-- 商品名称 -->
		       <td cname="fullName" validateAttr=""  maxlength="50" billType="2" unitId="unitId" onBlur="objDelOrClear(this,'fullName');" storageId="storageId" cTarget="dialog"  title="商品" warn="商品" productId="productId" enterSearch="true" productSupId="supId" searchUrl="${base}/stock/stock/orderOneRecord/" editUrl="${base}/stock/stock/orderDialogEdit/" url="${base}/stock/stock/orderDialog/" rel="b_product_dialog" dwidth="680" dheight="450"></td>
		       
		       <#elseif row.code?? && 'smallName'==row.code>
		       <!-- 商品简称 -->
		       <td type="text"  validateAttr="" readonly="readonly" maxlength="50" cname="smallName"></td>
		       <#elseif row.code?? && 'spell'==row.code>
		       <!-- 商品拼音 -->
		       <td type="text"  validateAttr="" readonly="readonly" maxlength="50" cname="spell"></td>
		       <#elseif row.code?? && 'standard'==row.code>
		       <!-- 规格 -->
		       <td type="text"  validateAttr="" readonly="readonly" maxlength="50" cname="standard"></td>
		       <#elseif row.code?? && 'model'==row.code>
		       <!-- 型号 -->
		       <td type="text"  validateAttr="" readonly="readonly" maxlength="50" cname="model"></td>
		       <#elseif row.code?? && 'field'==row.code>
		       <!-- 产地 -->
		       <td type="text"  validateAttr="" readonly="readonly" maxlength="50" cname="field"></td>
		       <#elseif row.code?? && 'savePath'==row.code>
		       <!-- 图片 -->
		       <td type="text"  validateAttr="" readonly="readonly"  cname="savePath"></td>
		       
		       <#elseif row.code?? && 'baseUnit'==row.code>
		       <!-- 单位 -->
		       <td cname="baseUnit" validateAttr="" readonly="readonly" maxlength="50" billType="2" unitId="unitId" cTarget="dialog" hasDialog="dialogNotNull" productId="productId" title="单位" rel="b_product_dialog"  url="${base}/base/product/calculateUnit/" dwidth="300" dheight="200"></td>
		       <#elseif row.code?? && 'helpUnit'==row.code>
		       <!-- 辅助单位 -->
		       <td cname="assistUnit" validateAttr="" readonly="readonly" maxlength="50"></td>
		       <#elseif row.code?? && 'produceDate'==row.code>
		       <!-- 生产日期 -->
		       <td cname="produceDate" needEndDate="yes" validateAttr="dateISO" requiredData="need" maxlength="50"></td>
		       <#elseif row.code?? && 'produceEndDate'==row.code>
		       <!-- 结束日期 -->
		       <td requiredData="need" type="text" validateAttr="dateISO"  cname="produceEndDate" where="abc"></td>
		       <#elseif row.code?? && 'batch'==row.code>
		       <!-- 批号 -->
		       <td cname="batch" validateAttr="" requiredData="need" maxlength="50"></td>
		       <#elseif row.code?? && 'helpAmount'==row.code>
		       <!-- 辅助数量 -->
		       <td cname="helpAmount" validateAttr=""  readonly="readonly" maxlength="50"></td>
		       <#elseif row.code?? && 'amount'==row.code>
		       <!-- 数量 -->
		       <td cname="amount" validateAttr="number" requiredData="need" maxlength="20" cTarget="dialog" hasDialog="dialogNotNull" productId="productId" baseUnit="selectUnitId"  title="数量" rel="b_product_dialog"  url="${base}/base/product/recordAmount/" dwidth="350" dheight="200" onBlur="amountPriceDiscountChangePrivilege(this)"></td>
		       <#elseif row.code?? && 'baseAmount'==row.code>
		       <!-- 基本数量-->
		       <td cname="baseAmount" validateAttr="" readonly="readonly" maxlength="50"></td>
		       <#elseif row.code?? && 'baseAmount1'==row.code>
		       <!-- 辅助数量1 -->
		       <td cname="baseAmount1" validateAttr=""  readonly="readonly" maxlength="50"></td>
		       <#elseif row.code?? && 'baseAmount2'==row.code>
		       <!-- 辅助数量2 -->
		       <td cname="baseAmount2" validateAttr=""  readonly="readonly" maxlength="50"></td>
		       <#elseif row.code?? && 'price'==row.code>
		       <!-- 单价 -->
		       <td cTarget="dialog" hasDialog="dialogNotNull" storageId="storageId" productId="productId" baseUnit="selectUnitId" title="请选择价格" rel="selectPricesDialog"  url="${base}/stock/stock/getProductPrics/" dwidth="300" dheight="280" type="text" requiredData="need" validateAttr="number" cname="price" maxlength="20" onBlur="amountPriceDiscountChangePrivilege(this)"></td>
		       <#elseif row.code?? && 'money'==row.code>
		       <!-- 金额 -->
		       <td cname="money" validateAttr="number" requiredData="need" maxlength="20" onBlur="moneyChangePrivilege(this)"></td>
		       <#elseif row.code?? && 'discount'==row.code>
		       <!-- 折扣 -->
		       <td cname="discount" validateAttr="number" requiredData="need" maxlength="20" onBlur="amountPriceDiscountChangePrivilege(this)"></td>
		       <#elseif row.code?? && 'discountPrice'==row.code>
		       <!-- 折后单价 -->
		       <td cname="discountPrice" validateAttr="number" requiredData="need" maxlength="20" onBlur="discountPriceChangePrivilege(this)"></td>
		       <#elseif row.code?? && 'discountMoney'==row.code>
		       <!-- 折后金额 -->
		       <td cname="discountMoney" validateAttr="number" requiredData="need" maxlength="20" onBlur="discountMoneyChangePrivilege(this)"></td>
		       <#elseif row.code?? && 'taxRate'==row.code>
		       <!-- 税率 -->
		       <td cname="taxRate" validateAttr="number" requiredData="need"  maxlength="20" onBlur="taxRateChangePrivilege(this)"></td>
		       <#elseif row.code?? && 'taxPrice'==row.code>
		       <!-- 含税单价 -->
		       <td cname="taxPrice" validateAttr="number" requiredData="need" maxlength="20" onBlur="taxPriceChangePrivilege(this)"></td>
		       <#elseif row.code?? && 'tax'==row.code>
		       <!-- 税额 -->
		       <td cname="taxes" validateAttr="number" requiredData="need" readonly="readonly" maxlength="20"></td>
		       <#elseif row.code?? && 'taxMoney'==row.code>
		       <!-- 含税金额 -->
		       <td cname="taxMoney" validateAttr="number" requiredData="need" maxlength="20" onBlur="taxMoneyChangePrivilege(this)"></td>
		       <#elseif row.code?? && 'memo'==row.code>
		       <!-- 备注 -->
		       <td cname="memo" validateAttr="" requiredData="need" maxlength="50"></td>
		       <#elseif row.code?? && 'status'==row.code>
		       <!-- 状态 -->
		       <td cname="status" validateAttr="" readonly="readonly" maxlength="50"></td>
		       <#elseif row.code?? && 'arrivalAmount'==row.code>
		       <!-- 到货数量 -->
		       <td cname="arrivalAmount" validateAttr="number" requiredData="need" readonly="readonly" maxlength="50"></td>
		       <#elseif row.code?? && 'barCode'==row.code>
		       <!--条码 -->
		       <td cname="barCode" validateAttr="" readonly="readonly" maxlength="50"></td>
		       <#elseif row.code?? && 'message'==row.code>
		       <!-- 附加信息 -->
		       <td cname="message" validateAttr="" requiredData="need" maxlength="50"></td>
		       <#elseif row.code?? && 'storageCode'==row.code>
		       <!-- 仓库编号 -->
		       <td cname="storageCode" validateAttr=""  maxlength="50" onBlur="objDelOrClear(this,'storageCode')" cTarget="dialog" hasDialog="dialogNotNull"  title="仓库" warn="仓库" storageSupId="storageSupId" productId="productId"  storageId="storageId" searchUrl="${base}/stock/stock/storageOneRecord/sell" editUrl="${base}/stock/stock/storageDialogEdit/" url="${base}/stock/stock/storageDialog/toDialog" rel="cc_storage_dialog" dwidth="570" dheight="450"></td>
		       <#elseif row.code?? && 'storageFullName'==row.code>
		       <!-- 仓库全名-->
		       <td cname="storageFullName" validateAttr=""  maxlength="50" onBlur="objDelOrClear(this,'storageFullName')" cTarget="dialog" hasDialog="dialogNotNull"  title="仓库" warn="仓库" storageSupId="storageSupId" productId="productId"  storageId="storageId" searchUrl="${base}/stock/stock/storageOneRecord/" editUrl="${base}/stock/stock/storageDialogEdit/" url="${base}/stock/stock/storageDialog/toDialog" rel="cc_storage_dialog" dwidth="570" dheight="450"></td>
		       <#elseif row.code?? && 'retailPrice'==row.code>
		       <!--零售单价-->
		       <td cname="retailPrice" requiredData="need" readonly="readonly" maxlength="20"></td>
		       <#elseif row.code?? && 'retailMoney'==row.code>
		       <!--零售金额-->
		       <td cname="retailMoney" requiredData="need" readonly="readonly"  maxlength="20"></td>
		       <#else>
		         <td></td>
		       </#if>
		      </#list>
		       <td>
		          <a title="删除本行" class="btnDel" href="javascript:void(0);" onclick="removeTr(this);"></a>
		       </td>
		     </tr>
		     </#list>
		  </tbody>
		  <tfoot>
		       <tr style="border-top: #D0D0D0 solid 1px">
		       <td>合计</td>
		       <#list rowList as row>
		            <#if row.code?? && 'amount'==row.code>
		             <!-- 总数 -->
		             <td><input name="sellReturnBill.amounts" class="stealth" id="amounts" readonly="readonly"/></td>
		            <#elseif row.code?? && 'money'==row.code>
		            <!-- 总价 -->
		            <td><input name="sellReturnBill.moneys" class="stealth" id="moneys" readonly="readonly"/></td>
		            <#elseif row.code?? && 'discountMoney'==row.code>
		            <!-- 折后总价 -->
		            <td><input name="sellReturnBill.discountMoneys" class="stealth" id="discountMoneys" readonly="readonly"/></td>
		            <#elseif row.code?? && 'tax'==row.code>
		             <!-- 税额 -->
		            <td><input name="sellReturnBill.taxes" class="stealth" id="taxes" readonly="readonly"/></td>
		            <#elseif row.code?? && 'taxMoney'==row.code>
		            <!-- 税额 -->
		            <td><input name="sellReturnBill.taxMoneys" class="stealth" id="taxMoneys" readonly="readonly"/></td>
		            <#elseif row.code?? && 'retailMoney'==row.code>
		            <!-- 零售金额 -->
		            <td><input name="sellReturnBill.retailMoneys" class="stealth" id="retailMoneys" readonly="readonly"/></td>
		            <#else>
		            <td></td>
		            </#if>
		       </#list>
		       <td></td>
		       </tr>
		  </tfoot>
	   </table>
	   <div class="divider"></div> 
	   <div class="textContent center">
	     <div style="margin-top: 13px;">
	     
	     	<#import "/WEB-INF/template/common/base/payOrGet/getOrPayTemplate.html" as footer>
		     <@footer.pageFooter field="sellReturnBill.payMoney" accountName="付款账户" payAccount="sellReturnBill.bankPay" accountMoney=" 付款金额"/>

			 <span style="float: right;">
		                优惠金额<input class="line number" type="text" id="privilege"  name="sellReturnBill.privilege" value="0" onblur="privilegeMoneyTotal()"/> 
		                 优惠后金额：<input type="text" class="stealth" id="privilegeMoney" name="sellReturnBill.privilegeMoney" value="0" style="width: 100px" readonly="readonly"/>
		    </span>
	     </div>
	   </div>
	   <div class="divider"></div> 
		<div>
	     <div style="float: right;">
	        <@shiro.hasPermission name='403-t'>
	        <a class="button"><span><button type="button" onclick="$('#xsth_sellForm').submit();">保存</button></span></a>
	        </@shiro.hasPermission>
	        <#if isFreeVersion != "yes">
	        <a class="button" href="${base}/sell/return/draft/add" target="submit"><span>保存草稿</span></a>
	        <@shiro.hasPermission name='402-s'>
	        <a class="button" href="${base}/sell/sell/option" target="dialog" rel="xsd_dialog_id" width="750" height="580" param="unitId"><span>销售单</span></a>
	        </@shiro.hasPermission>
	        </#if>
	        <#assign privs = '403-p'/>
			<#assign href = '${base}/sell/return/print'/>
			<#assign formId = 'xsth_sellForm'/>
			<#include "/WEB-INF/template/common/print/printBtn.html"/>
	        <a class="button" href="javascript:void(0);" onclick="navTab.closeCurrentTab()"><span>关闭</span> </a>
	     </div>
	    </div>
	</div>
  </form>
</div>

