<form id="pagerForm" enctype="text/plain" onsubmit="return divSearch(this, 'productInitList');" action="${base}/init/productInit/list/${supId!0}" method="post">
	<input type="hidden" name="pageNum" value="${pageMap.pageNum!1}" />
	<input type="hidden" name="numPerPage" value="${pageMap.numPerPage!15}" />
	<input type="hidden" name="orderField" value="${orderField!'pro.rank'}" /><!--查询排序-->
    <input type="hidden" name="orderDirection" value="${orderDirection!'asc'}" /><!--升序降序-->
	
	<!-- 保存条件 -->
	<input type="hidden" name="screenPara" value="${screenPara!}"/>
	<input type="hidden" name="screenVal" value="${screenVal!}"/>
	<input type="hidden" name="scope" value="${scope!'all'}"/>
	<input type="hidden" name="supId" value="${supId!0}"/>
	<input type="hidden" name="node" value="${node!0}"/>
	
	<input type="hidden" name="selectedObjectId" id="selectedObjectId" value="${objectId!0}" /><!--   默认选中对象的Id -->
	<input type="hidden" id="costArith"/><!-- 商品成本算法 -->
	<input type="hidden" id="storage.id" name="storage.id" value="${storageId!0}"/>
	<input type="hidden" id="storage.pids" name="storage.pids" value="${storagePids!'{0}'}">
	<input type="hidden" id=helpAmunitPattern name="helpAmunitPattern" value="${helpAmunitPattern!'blendUnit'}"/>
	
	<#include "/WEB-INF/template/base/baseSearchComDialog/searchConditionInputs.html"/><!--报表基本信息筛选条件保存 -->
</form>

<#assign showWidth = 100/>
<#list rowList as row>
    <#if row.width??>
     <#assign showWidth = showWidth+row.width/>
    </#if>
</#list>
<table class="table" rel="productInitList" layoutH="220" width="${showWidth!}px">
	<#include "/WEB-INF/template/common/columnConfig/tableHeadLink.html"/>
	<tbody>
		<#list pageMap.pageList as recode>
			<#if recode.pro.node==2>
				<tr objectId="${objectId!0}" status="false"  target="pid" rel="${recode.pro.id}" trel="productInitTree" crel="productInitList" relevancyIds="storage.id,storage.pids,helpAmunitPattern" cTarget="ajax"  url="${base}/init/productInit/list/${recode.pro.id}"  isSelect="true">
			<#else>
				<@shiro.hasPermission name='2-251-u'>
				<tr objectId="${objectId!0}" status="2"  costArith="${recode.pro.costArith!}" target="pid" rel="${recode.pro.id}" isSelect="true"   cTarget="citeEvent" citeEventModuleId="editInitBtn" citeEventType="click" >
		        </@shiro.hasPermission>
			    <@shiro.lacksPermission name='2-251-u'>
			    <tr objectId="${objectId!0}" status="2"  costArith="${recode.pro.costArith!}" target="pid" rel="${recode.pro.id}" isSelect="true">
		        </@shiro.lacksPermission>
			</#if>
				<td align="center"><a>${recode_index+1+pageMap.limit}</a><#if recode.pro.node==2>..</#if></td>
				<#list rowList as row>
					<#assign columnObj = "" />
					<#if row.code?? && ((row.code)?index_of(".")>-1)>
						<#assign columnObj = (row.code)?substring(0,(row.code)?index_of(".")) />
						<#assign columnParam = (row.code)?substring((row.code)?index_of(".")+1) />
					<#else>
						<#assign columnParam = row.code />
					</#if>
					
					<#if row.code?? && 'avgPrice'==row.code>
						<td align="center">
							<@shiro.hasPermission name='1101-s'>
						    	${recode.avgPrice!}
						    </@shiro.hasPermission>
							<@shiro.lacksPermission name='1101-s'>
								***  
						    </@shiro.lacksPermission>
						</td>
					<#elseif row.code?? && 'pro.savePath'==row.code>
						<td>
							<#if (recode.pro.savePath)??>
							    <img onMouseOver="toolTip('<img src=${base}/upLoadImg/${(recode.pro.savePath)!} width=400px height=350px>')" onMouseOut="toolTip()"  src="${base}/upLoadImg/${(recode.pro.savePath)!}"  width="20px" height="20px"/>
				            </#if>
						</td>
					<#elseif row.code?? && 'moneys'==row.code>
						<td>
							<@shiro.hasPermission name='1101-s'>
						    	${recode.moneys!}
						    </@shiro.hasPermission>
							<@shiro.lacksPermission name='1101-s'>
								***  
						    </@shiro.lacksPermission>
						</td>
					<#else>
						<#if columnObj?? && columnObj!="">
							<td>${((recode[columnObj])[columnParam])!}</td>
						<#else>
							<td>${recode[columnParam]!}</td>
						</#if>
					</#if>
				</#list>
			</tr>
		</#list>
	</tbody>
	<#include "/WEB-INF/template/common/columnConfig/tableTfootLink.html"/>
</table>

<#include "/WEB-INF/template/unitl/paging.html"/>
	
<div class="divider"></div>
<div>
    <@shiro.hasPermission name='2-251-u'>
	<a id="editInitBtn" class="button" href="${base}/init/productInit/editInit" title="期初库存商品录入" isExec="{status}" warn="不能修改某一类商品！" verify="storage.id" verifyText="现在为所有仓库合计值，请选择某一仓库" target="dialog" param="storage.id,selectedObjectId" width="640" height="400" callbefore="callBeforeNavTabValidate"  modeltype="newUrlValidate" href1="${base}/common/verify/permittedVerify?key=1101-s"><span>修改期初</span></a>
	</@shiro.hasPermission>
	<a class="button" href="${base}/base/storage/dialogList" module="navTab" isReload=true reloadId="productInitList" showNameId="storgeName" warn="仓库" lookupgroup="storage" btnPattern="selectAll" lookuppk="id" width="600" height="410"><span>选择仓库</span></a>
	<a class="button" href="${base}/init/productInit/proDistribution" param="selectedObjectId" target="dialog" rel="proDistributionDialog" width="600" height="500"><span>商品分布</span></a>
	<a class="button" href="${base}/init/productInit/proBatchNum" isExec="{status}" warn="不能查看一类商品的批次详情！" verifyFun="verifyProCostArithToBatch()" verify="storage.id" verifyText="现在为所有仓库合计值，请选择某一仓库" target="dialog"  param="storage.id,storage.pids,selectedObjectId"  width="640" height="400"  ><span>批次详情</span></a>
	<!-- <a class="buttonDisabled" href="javascript:;"><span>单据方式</span></a> -->
	<#if node?? && node == 1>
		<a class="buttonDisabled" href="javascript:;"><span>列表</span></a>
	<#else>
		<a class="button" href="${base}/init/productInit/line/${supId!0}" relevancyIds="storage.pids,helpAmunitPattern" target="ajax" rel="productInitList"><span>列表</span></a>
	</#if>
	
	<a class="button" aimtabid="productInitView" aimurl="${base}/init/productInit" aimtitle="期初库存商品" height="210" width="400" rel="report_product_filtter" href="${base}/base/product/toReportBaseFilter/pagerForm-product" target="dialog">
		<span>商品筛选</span>
	</a>
	
	<#if supId?? && supId!=0>
      <a class="button" href="${base}/init/productInit/list/${pSupId!0}-${supId!0}" relevancyIds="storage.id,storage.pids,helpAmunitPattern" target="ajax" rel="productInitList" trel="productInitTree" nodeId="${pSupId!0}" ><span>上级</span></a>
    <#else>
       <a class="buttonDisabled" href="javascript:void(0);"><span>上级</span></a>
    </#if>
	
</div>
<div style="float: right;">
    <#assign privs = '2-251-p'/>
	<#assign href = '${base}/init/productInit/print'/>
	<#assign formId = 'pagerForm'/>
	<#include "/WEB-INF/template/common/print/printBtn.html"/>
	<a class="button" href="javascript:;" onclick="navTab.closeCurrentTab()"><span>关闭</span></a>
</div>
