<!-- 报损单单查看  -->
<div class="pageContent" id="breakagePage" >

<form id="breakageBillForm">
	<div id="hasFujianClassId" <#if orderFuJianIds?length gt 0>class="textContent center fujianClass"<#else>class="textContent center"</#if>>
	      <div>
	         <span style="font-size: 18px;">报损单</span>
	         <input type="hidden" name="billId" value="${(bill.id)!}"/>
			 <span style="float: right;">
		                 录单日期
		     <input type="text"  <#if isRCW==true>style="color: red;"</#if>  name="breakageBill.recodeDate" dateFmt="yyyy-MM-dd HH:mm:ss" value="${(bill.recodeDate)?string('yyyy-MM-dd HH:mm:ss')}" readonly="readonly"/>
		                单据编号
		    <input class="line" type="text"  style="width: 200px" name="breakageBill.code" <#if isRCW==true>style="color: red;"</#if> value="${(bill.code)!}" readonly="readonly"/>
		    </span>
	     </div>
	     <div>
	        &nbsp;&nbsp;经手人 
	        <input class="line" type="text" <#if isRCW==true>style="color: red;"</#if> name="staff.name"  value="${(bill.getStaff(session.loginConfigId).name)!}" readonly="readonly"/>
	        &nbsp;&nbsp;部门    
	        <input type="text" class="line" <#if isRCW==true>style="color: red;"</#if>  name="department.fullName" value="${(bill.getDepartment(session.loginConfigId).fullName)!}" readonly="readonly"/>    
	     </div>
	     <div>
	                           发货仓库
     	    <input class="line" <#if isRCW==true>style="color: red;"</#if> name="storage.fullName" value="${(bill.getStorage(session.loginConfigId).fullName)!}" readonly="readonly"/>
	                          摘要
	        <input class="line" <#if isRCW==true>style="color: red;"</#if> type="text" name="breakageBill.remark" value="${(bill.remark)!}" readonly="readonly"/>
	                          附加说明
	        <input class="line" <#if isRCW==true>style="color: red;"</#if> type="text" name="breakageBill.memo" value="${(bill.memo)!}" readonly="readonly"/>
	     	<#include "/WEB-INF/template/common/columnConfig/billRowConfigLink.html"/>
	     	<div style="float: right;">
           		<#include "/WEB-INF/template/common/lookBillPreOrNext/page.html"/>
           		<img style="margin-top: 5px;" onclick="openOrderFujianDialog('${base}','${tableId}','0','${(bill.id)!}');" title="单据附件" src="${base}/img/bill/fujian.jpg" alt="单据附件">
           		<input type="hidden" id="orderFuJianIds" name="orderFuJianIds" value="${orderFuJianIds!}"/>
	        </div>
	     </div>
	</div>
	
	<div class="divider"></div>
	
	<div class="pageContent">
	   <#assign showWidth = 0/>
	   <#list rowList as row>
	     <#if row.width??>
	      <#assign showWidth = showWidth+row.width/>
	     </#if>
	   </#list>
	   <table class="table" model="order"  layoutH="200" width="${showWidth!}px">
	        <thead>
			 <tr>
				<th width="50" align="center">
					行号
				</th>
				<#list rowList as row>
				   <th width="${(row.width)!100}"  align="center"> 
					 ${(row.showName)!(row.name)!}
				   </th>
				</#list>
			</tr>
		  </thead>
		  <tbody id="breakagebody" preDataName="breakageDetail">
		     <#list detailList as detail>
		     <tr <#if isRCW==true>style="color: red;"</#if> >
		       <td>${detail_index+1}</td>
		       <!--  -->
		       <#list rowList as row>
		       <#if row.code?? && 'code'==row.code>
		       <!-- 商品编号-->
		       <td>${(detail.product.code)!}</td> 
		       <#elseif row.code?? && 'fullName'==row.code>
		       <!-- 商品名称 -->
		       <td>${(detail.product.fullName)!}</td>
		       
		       <#elseif row.code?? && 'smallName'==row.code>	       
		       <!-- 商品简称 -->
		       <td>${(detail.product.smallName)!''}</td>
		       <#elseif row.code?? && 'spell'==row.code>
		       <!-- 商品拼音 -->
		       <td>${(detail.product.spell)!''}</td>
		       <#elseif row.code?? && 'standard'==row.code>
		       <!-- 规格 -->
		       <td>${(detail.product.standard)!''}</td>
		       <#elseif row.code?? && 'model'==row.code>
		       <!-- 型号 -->
		       <td>${(detail.product.model)!''}</td>
		       <#elseif row.code?? && 'field'==row.code>
		       <!-- 产地 -->
		       <td>${(detail.product.field)!''}</td>
		       <#elseif row.code?? && 'savePath'==row.code>
			   <!-- 图片 -->
			   <td>
					<#if (detail.product.savePath)??>
						<img onMouseOver="toolTip('<img src=${base}/upLoadImg/${(detail.product.savePath)!} width=400px height=350px>')" onMouseOut="toolTip()"  src="${base}/upLoadImg/${(detail.product.savePath)!}"  width="20px" height="20px"/>
					</#if>
			   </td>
		       
		       <#elseif row.code?? && 'storageCode'==row.code>
		       <!-- 仓库编号 -->
		       <td>${(detail.storage.code)!}</td>
		       <#elseif row.code?? && 'storageFullName'==row.code>
		       <!-- 仓库全名-->
		       <td>${(detail.storage.fullName)!}</td>
		       <#elseif row.code?? && 'baseUnit'==row.code>
		       <!-- 单位 -->
		       <td>${(detail.selectUnit)!}</td>
		       <#elseif row.code?? && 'amount'==row.code>
		       <!-- 数量 -->
		       <td>${(detail.amount)!}</td>
		       <#elseif row.code?? && 'helpAmount'==row.code>
		       <!-- 辅助数量 -->
		       <td>${(detail.helpAmount)!}</td>
		       <#elseif row.code?? && 'produceDate'==row.code>
		       <!-- 生产日期 -->
		       <td><#if detail.produceDate??>${(detail.produceDate)?string("yyyy-MM-dd")}</#if></td>
		       <#elseif row.code?? && 'produceEndDate'==row.code>
		       <!-- 生产日期 -->
		       <td><#if detail.produceEndDate??>${(detail.produceEndDate)?string("yyyy-MM-dd")}</#if></td>
		       <#elseif row.code?? && 'batch'==row.code>
		       <!-- 批号 -->
		       <td>${(detail.batch)!}</td>
		       <#elseif row.code?? && 'barCode'==row.code>
		       <!--条码 -->
		       <td>${(detail.product["barCode"+detail.selectUnitId])!}</td>
		       <#elseif row.code?? && 'price'==row.code>
		       <!-- 单价 -->
		       <td>
		       		<#if detail.id??>
				         <@shiro.hasPermission name='1101-s'>
				            ${(detail.price)!}
						 </@shiro.hasPermission>
						 <@shiro.lacksPermission name='1101-s'>
							***
						 </@shiro.lacksPermission>
					</#if>
		       </td>
		       <#elseif row.code?? && 'money'==row.code>
		       <!-- 金额 -->
		       <td>
		       		<#if detail.id??>
				         <@shiro.hasPermission name='1101-s'>
				            ${(detail.money)!}
						 </@shiro.hasPermission>
						 <@shiro.lacksPermission name='1101-s'>
							***
						 </@shiro.lacksPermission>
					</#if>
		       </td>
		       <#elseif row.code?? && 'memo'==row.code>
		       <!-- 备注 -->
		       <td>${(detail.memo)!}</td>
		       
		       
		       
		       <#else>
		         <td></td>
		       </#if>
		      </#list>
		     </tr>
		     </#list>

		  </tbody>
		  <tfoot>
		       <tr <#if isRCW==true>style="color: red;"</#if> style="border-top: #D0D0D0 solid 1px">
		       <td>合计</td>
		       <#list rowList as row>
		            <#if row.code?? && 'amount'==row.code>
		             <!-- 总数 -->
		             <td align="center">${(bill.amounts)!0}</td>
		            <#elseif row.code?? && 'money'==row.code>
		            <!-- 总价 -->
		            <td align="center">
		            	<@shiro.hasPermission name='1101-s'>
					         ${(bill.moneys)!}
						 </@shiro.hasPermission>
						 <@shiro.lacksPermission name='1101-s'>
							***
						 </@shiro.lacksPermission>
		            </td>
		            <#else>
		            <td></td>
		            </#if>
		       </#list>
		       </tr>
		  </tfoot>
	   </table>
	   
	    <div  style=" padding-top: 10px;  width:100%;">
			<div style="float: right;">
				<#include "/WEB-INF/template/common/base/accountDetailCommomLink.html"/>
	        	<#assign privs = '5-80-504-p'/>
				<#assign href = '${base}/stock/breakage/print'/>
				<#assign formId = 'breakageBillForm'/>
				<#include "/WEB-INF/template/common/print/printBtn.html"/>
			    <a class="button" href="javascript:void(0);" onclick="navTab.closeCurrentTab()"><span>关闭</span> </a>
			</div>
		</div>
	</div>
</form>
</div>
