<#import "/WEB-INF/template/common/base/header/addCommonPage.html" as orderHead>
<!-- 报损单 -->
<div class="pageContent" id="breakageBillPage" >
<input id="whichCallBack" type="hidden" value="breakageBill"/><!-- 用于区分不同模块库存商品带回进不同函数     ID是写死，value用于区分 -->
<input id="basePathId" type="hidden" value="${base}"/><!-- 弹出选择批次窗体url -->
<form id="breakageBillForm" class="tableForm pageForm" enctype="text/plain" method="post" action="${base}/stock/breakage/add" onsubmit="return validateCallback(this, navTabAjaxDoneDialog)">
	<input type="hidden" id="needComfirm" name="needComfirm" value="true"/>
	
	<input type="hidden" id="billNum" name="breakageBill.codeIncrease" value="${codeIncrease!}"/>
	<input type="hidden" id="billCode"  name="billCode" value="${code!}"/>
	<div id="hasFujianClassId" class="textContent center">
	
	<@orderHead.billCode title="报损单" billName="breakageBill" module="breakageBill"/>
		   <#--<div>
		         <span style="font-size: 18px;">报损单</span>
		         <input id="module" type="hidden" value="breakageBill"/>  用于区分模块提交参数的校验 
		          <span style="float: right;">
				                 录单日期
				     <input type="text" class="date required" name="breakageBill.recodeDate" dateFmt="yyyy-MM-dd HH:mm:ss" value="${recodeTime!''}" hasClear="no" readonly="readonly"/>
				                单据编号
				     <input id="showBillCode" class="line required textInput" type="text" style="width: 200px" name="breakageBill.code"  value="${code!}" <#if codeAllowEdit?? && codeAllowEdit=="1">readonly="readonly"</#if> />
				   </span>
		     </div>-->
		     <div>
		     
		     <@orderHead.staffTag />
			    <#-- &nbsp;&nbsp; 经手人 ：
	       	 	<input type="hidden" name="staff.id" id="staffId" value="${(staff.id)!}"/>
		        <input class="line" type="hidden" name="staff.name" id="staffName" value="${(staff.name)!}"/>
		        <#if notEditStaff?? && notEditStaff==true>
	        		<input class="line" readonly="readonly" type="text" name="staff.name" value="${(staff.fullName)!}"/>
	        	<#else>
			        <input class="line enter" type="text" name="staff.name" id="staffName" />
			        <a class="btnLook" id="staffLook" type="POST" btnPattern="optionAdd" href="${base}/base/staff/dialogChild" module="navTab" warn="员工" lookupgroup="staff" lookuppk="id" width="600" height="410">职员</a>
		     	</#if>-->
		     	
		     	<@orderHead.dept />
		     	<#-- &nbsp;&nbsp;部门 ：
		     	<input type="hidden" id="departmentId" name="department.id" value="<#if notEditStaff?? && notEditStaff==true>${(depm.id)!}</#if>"/>
		        <input type="text" class="line"  name="department.fullName" value="<#if notEditStaff?? && notEditStaff==true>${(depm.fullName)!}</#if>" lookName="department" lookId="department.id"/>    
		        <a class="btnLook" id="departmentLook" type="POST" btnPattern="optionAdd" href="${base}/base/department/option/" module="navTab" warn="部门" lookupgroup="department" lookuppk="id" width="600" height="410">部门</a>
		        -->                        
		     </div>
		     <div>
		     
		     <@orderHead.storageTag text="发货仓库"/>
		         <#--     发货仓库：
		       	<input type="hidden" name="storage.id" id ="storageId" value="${(breakageBill.storageId)!}"/>
		       	<input type="hidden" name="storage.code" id="storageCode" value="${(breakageBill.storageCode)!}"/>
		       	<input type="hidden" name="storage.supId" id="storageSupId" value=""/>
	     	   	<input class="line textInput" id="storageName" name="storage.fullName" value="${(breakageBill.storageName)!}"  lookName="storage" lookId="storage.id"/>
		       	<a class="btnLook" id="storageLook" type="POST" btnPattern="optionAdd"  href="${base}/base/storage/dialogList" module="navTab" warn="仓库" lookupgroup="storage" lookuppk="id" width="600" height="410">仓库</a>
		       	-->   
		       	
		       	<@orderHead.summary billName="breakageBill" />            
	          	<#-- &nbsp;&nbsp;摘要 ：
		        <input class="line" style="width: 310px;" name="breakageBill.remark" type="text" value=""/>
		                           附加说明 ：
		        <input class="line" style="width: 310px;" name="breakageBill.memo" type="text" value=""/>-->
		        <#include "/WEB-INF/template/common/columnConfig/billRowConfigLink.html"/>
		        
		        <@orderHead.attachment/>
		        <#--<div style="float: right;">
		           <img style="margin-left: 7px;" onclick="openOrderFujianDialog('${base}','${tableId}');" title="单据附件" src="${base}/img/bill/fujian.jpg" alt="单据附件">
		           <input type="hidden" id="orderFuJianIds" name="orderFuJianIds"/>
		        </div>-->
		     </div>
	</div>
	
	<div class="divider"></div>
	   	
	<div class="pageContent">
		   <#assign showWidth = 0/>
		   <#list rowList as row>
		     <#if row.width??>
		      <#assign showWidth = showWidth+row.width/>
		     </#if>
		   </#list>
	<table class="table" model="order" layoutH="200" width="${showWidth!}">
	        <thead>
			 <tr>
				<th width="40px;" align="center">
					行号
				</th>
				<#list rowList as row>
				   <th  width="${(row.width)!100}px;" align="center">
					 ${(row.showName)!(row.name)!}
				   </th>
				</#list>
				<th width="30px;" align="center">
			    	<a title="添加一行" class="btnAdd" target="addTr" href="javascript:void(0);" rel="brekageBilltbody"></a>
				</th>
			</tr>
		  </thead>
		  <tbody id="brekageBilltbody" preDataName="brekageBillDetail">
		  	 <#include "/WEB-INF/template/common/columnConfig/costLookConfigLink.html"/>
		     <#list 1..15 as td>
		     <tr>
		       <td>${td_index+1}</td>
		       <#list rowList as row>
		       	
		       	   <#if row.code?? && 'code'==row.code>
			       <!-- 商品编号-->
			       <td cname="code" validateAttr="" maxlength="50" onBlur="objDelOrClear(this,'code');" storageId="storageId" cTarget="dialog"  title="商品" warn="商品"  productId="productId" enterSearch="true" productSupId="supId" searchUrl="${base}/stock/stock/orderOneRecord/" editUrl="${base}/stock/stock/orderDialogEdit/" url="${base}/stock/stock/orderDialog/" rel="b_product_dialog" dwidth="680" dheight="450"></td> 
			       <#elseif row.code?? && 'fullName'==row.code>
			       <!-- 商品名称 -->
			       <td cname="fullName" validateAttr=""  maxlength="50" onBlur="objDelOrClear(this,'fullName');" storageId="storageId" cTarget="dialog"  title="商品" warn="商品" productId="productId" enterSearch="true" productSupId="supId" searchUrl="${base}/stock/stock/orderOneRecord/" editUrl="${base}/stock/stock/orderDialogEdit/" url="${base}/stock/stock/orderDialog/" rel="b_product_dialog" dwidth="680" dheight="450"></td>
       			   
       			   <#elseif row.code?? && 'smallName'==row.code>
				   <!-- 商品简称 -->
				   <td type="text"  validateAttr="" readonly="readonly" maxlength="50" cname="smallName"></td>
				   <#elseif row.code?? && 'spell'==row.code>
				   <!-- 商品拼音 -->
				   <td type="text"  validateAttr="" readonly="readonly" maxlength="50" cname="spell"></td>
				   <#elseif row.code?? && 'standard'==row.code>
				   <!-- 规格 -->
				   <td type="text"  validateAttr="" readonly="readonly" maxlength="50" cname="standard"></td>
				   <#elseif row.code?? && 'model'==row.code>
				   <!-- 型号 -->
				   <td type="text"  validateAttr="" readonly="readonly" maxlength="50" cname="model"></td>
				   <#elseif row.code?? && 'field'==row.code>
				   <!-- 产地 -->
				   <td type="text"  validateAttr="" readonly="readonly" maxlength="50" cname="field"></td>
			       <#elseif row.code?? && 'savePath'==row.code>
				   <!-- 图片 -->
				   <td type="text"  validateAttr="" readonly="readonly"  cname="savePath"></td>
			       
			       
			       <#elseif row.code?? && 'storageCode'==row.code>
			       <!-- 仓库编号 -->
			       <td cname="storageCode" validateAttr=""  maxlength="50" onBlur="objDelOrClear(this,'storageCode')" cTarget="dialog" hasDialog="dialogNotNull"  title="仓库" warn="仓库" storageSupId="storageSupId" productId="productId"  storageId="storageId" searchUrl="${base}/stock/stock/storageOneRecord/" editUrl="${base}/stock/stock/storageDialogEdit/" url="${base}/stock/stock/storageDialog/toDialog" rel="cc_storage_dialog" dwidth="600" dheight="450"></td>
			       <#elseif row.code?? && 'storageFullName'==row.code>
			       <!-- 仓库全名-->
			       <td cname="storageFullName" validateAttr=""  maxlength="50" onBlur="objDelOrClear(this,'storageFullName')" cTarget="dialog" hasDialog="dialogNotNull"  title="仓库" warn="仓库" storageSupId="storageSupId" productId="productId"  storageId="storageId" searchUrl="${base}/stock/stock/storageOneRecord/" editUrl="${base}/stock/stock/storageDialogEdit/" url="${base}/stock/stock/storageDialog/toDialog" rel="cc_storage_dialog" dwidth="600" dheight="450"></td>
			       <#elseif row.code?? && 'baseUnit'==row.code>
			       <!-- 单位 -->
			       <td cname="baseUnit" validateAttr="" readonly="readonly" maxlength="50" cTarget="dialog" hasDialog="dialogNotNull" productId="productId" title="单位" rel="b_product_dialog"  url="${base}/base/product/calculateUnit/" dwidth="300" dheight="200"></td>
			       <#elseif row.code?? && 'helpAmount'==row.code>
			       <!-- 辅助数量 -->
			       <td cname="helpAmount" validateAttr="" readonly="readonly" maxlength="50"></td>
			       <#elseif row.code?? && 'amount'==row.code>
			       <!-- 数量 -->
			       <td cname="amount" validateAttr="required number" requiredData="need" maxlength="20" cTarget="dialog" hasDialog="dialogNotNull" productId="productId" baseUnit="selectUnitId"  title="数量" rel="b_product_dialog"  url="${base}/base/product/recordAmount/" dwidth="350" dheight="200" onBlur="paramCallBackPrcie(this)"></td>
			       <#elseif row.code?? && 'produceDate'==row.code>
			       <!-- 生产日期 -->
			       <td cname="produceDate" validateAttr="dateISO" requiredData="need" readonly="readonly" maxlength="50" cTarget="dialog" tbodyId="brekageBilltbody" manSel="true"  totalStorageId="storageId"></td>
			       <#elseif row.code?? && 'produceEndDate'==row.code>
			       <!-- 到期日期 -->
			       <td cname="produceEndDate" validateAttr="dateISO" requiredData="need" readonly="readonly" maxlength="50" cTarget="dialog" tbodyId="brekageBilltbody" manSel="true"  totalStorageId="storageId"></td>
			       <#elseif row.code?? && 'batch'==row.code>
			       <!-- 批号 -->
			       <td cname="batch" validateAttr="" requiredData="need" readonly="readonly" maxlength="50" cTarget="dialog" tbodyId="brekageBilltbody" manSel="true"  totalStorageId="storageId"></td>
			       <#elseif row.code?? && 'barCode'==row.code>
			       <!--条码 -->
			       <td type="text" requiredData="not" cname="barCode" readonly="readonly"></td>
			       <#elseif row.code?? && 'price'==row.code>
			       <!-- 单价 -->
			       <td cname="price" costLookPermission="${costLookPermission!}" validateAttr="number" requiredData="need" maxlength="20" readonly="readonly"></td>
			       <#elseif row.code?? && 'money'==row.code>
			       <!-- 金额 -->
			       <td cname="money" costLookPermission="${costLookPermission!}" validateAttr="number" requiredData="need" maxlength="20" readonly="readonly"></td>
			       <#elseif row.code?? && 'memo'==row.code>
			       <!-- 备注 -->
			       <td cname="memo" validateAttr="" requiredData="need" maxlength="50"></td>
			       

			      
			       <!--------------------------------- 辅助外表 ----------------------------------------->
			       <#elseif row.code?? && 'spell'==row.code>
			       <!-- 商品拼音码 -->
			       <td cname="proSpell" requiredData="noNeed" validateAttr="" maxlength="50" readonly="readonly"></td>
			       <#elseif row.code?? && 'baseUnit'==row.code>
			       <!-- 基本单位 -->
			       <td cname="proBaseUnit" requiredData="noNeed" validateAttr="" maxlength="50" readonly="readonly"></td>
			       <#elseif row.code?? && 'standard'==row.code>
			       <!-- 规格 -->
			       <td cname="proStandard" requiredData="noNeed" validateAttr="" maxlength="50" readonly="readonly"></td>
			       <#elseif row.code?? && 'model'==row.code>
			       <!-- 型号 -->
			       <td cname="proModel" requiredData="noNeed" validateAttr="" maxlength="50" readonly="readonly"></td>
			       <#elseif row.code?? && 'field'==row.code>
			       <!-- 产地 -->
			       <td cname="proField" requiredData="noNeed" validateAttr="" maxlength="50" readonly="readonly"></td>
			       <#elseif row.code?? && 'validity'==row.code>
			       <!-- 有效期(天) -->
			       <td cname="proValidity" requiredData="noNeed" validateAttr="" maxlength="50" readonly="readonly"></td>
			       <#elseif row.code?? && 'memo'==row.code>
			       <!-- 商品备注 -->
			       <td cname="proMemo" requiredData="noNeed" validateAttr="" maxlength="50" readonly="readonly"></td>
			       <#elseif row.code?? && 'costArith'==row.code>
			       <!-- 成本算法 -->
			       <td cname="proCostArith" requiredData="noNeed" validateAttr="" maxlength="50" readonly="readonly"></td>
			       <#elseif row.code?? && 'barCode'==row.code>
			       <!-- 基本条码 -->
			       <td cname="proBaseBarCode" requiredData="noNeed" validateAttr="" maxlength="50" readonly="readonly"></td>
			       <!-- -------------------------------------------------------------------------------- -->
			       
			       <#else>
			         <td><input type="text" class="stealth"/></td>
			       </#if>
			       
			    </#list>
			       <td>
			      	  <a title="删除本行" class="btnDel" href="javascript:;" onclick="removeTr(this);"></a>
			       </td>
		     </tr>
		     </#list>
		     
		  </tbody>
		  <tfoot>
		       <tr style="border-top: #D0D0D0 solid 1px">
			       <td>合计</td>
			       <#list rowList as row>
				       <#if row.code?? && 'amount'==row.code>
				       <!-- 合计数量 -->
				       <td><input class="stealth" id="amounts"  readonly="readonly"/></td>
				       <#elseif row.code?? && 'money'==row.code>
				       <!-- 合计金额 -->
				       <td>
				       		<input type="${costInputType!'text'}" class="stealth" id="moneys"   readonly="readonly"/>
				       		<@shiro.lacksPermission name='1101-s'>
								***
							</@shiro.lacksPermission>
				       </td>
				       <#else>
			           <td></td>
			           </#if>
			       </#list>
			       <td></td>
		       </tr>
		 </tfoot>
	</table>
	
		<div  style=" padding-top: 10px;  width:100%;">
			<!-- 
			<div style="width:270px; display: block; float: left;">
				<select>
					<option selected="selected" value="code">按编号查询</option>
					<option value="name">按名称查询</option>
				</select>
				<input style="width: 100px;" name="" />
				<a style="float: right;" class="button" href="${base}/stock/stockStatus/dialogList"  target="dialog" rel="cc_stock_dialog"  mask="true"  width="620" height="410"><span>选商品</span></a>
			</div>
			 -->	
			<div style="float: right;">
				<@shiro.hasPermission name='5-80-504-t'>
					<a class="button"><span><button type="button" onclick="btnChangeFormAction(this)" action="${base}/stock/breakage/add">保存</button></span></a>
				</@shiro.hasPermission>
				<#if isFreeVersion != "yes">
				<a class="button"><span><button type="button" onclick="btnChangeFormAction(this)" action="${base}/stock/breakage/updateDraft">保存草稿</button></span></a>
	        	</#if>
	        	<#assign privs = '5-80-504-p'/>
				<#assign href = '${base}/stock/breakage/print'/>
				<#assign formId = 'breakageBillForm'/>
				<#include "/WEB-INF/template/common/print/printBtn.html"/>
			    <a class="button" href="javascript:void(0);" onclick="navTab.closeCurrentTab()"><span>关闭</span></a>
			</div>
		</div>
	</div>
</form>
</div>
