<!-- 收款单添加  -->
<div class="pageContent">
  <form id="pageForm"  class="tableForm pageForm" enctype="text/plain" method="post" action="${base}/finance/changeUnit/add" onsubmit="return validateCallback(this, navTabAjaxDoneDialog)">
	<input type="hidden" name="actionType" value="look"/>
	<input type="hidden" name="bill.id" value="${(bill.id)!}"/>
	<input type="hidden" name="model" value="${model!}">
	<div id="hasFujianClassId" <#if orderFuJianIds?length gt 0>class="textContent center fujianClass"<#else>class="textContent center"</#if>>
	      <div>
	         <span style="font-size: 18px;">调账：${modelName!}</span>
			 <span style="float: right;">
		                 录单日期
		     <input type="text"   value="<#if bill.recodeDate??>${(bill.recodeDate)?string("yyyy-MM-dd HH:mm:ss")}</#if>"  readonly="readonly" />
		                单据编号
		    <input class="line" type="text" style="width: 200px" value="${(bill.code)!}" readonly="readonly"/>
		    </span>
	     </div>
	     <div>
	        <#if model=='getDown'||model=='getUp'||model=='payDown'||model=='payUp'>
	                            往来单位
	        <input class="line" type="text" name="unit.fullName" value="${(bill.getBillUnit(session.loginConfigId).fullName)!}" readonly="readonly"/>
		    </#if>
	                           经手人 
	        <input class="line enter" type="text" name="staff.name" value="${(bill.getBillStaff(session.loginConfigId).name)!}" readonly="readonly"/>
	                            部门   
	        <input type="text" class="line"  name="department.fullName" value="${(bill.getBillDepartment(session.loginConfigId).fullName)!}" readonly="readonly"/>    
	     </div>
	     <div>
	                          摘要
	        <input class="line" type="text" style="width:250px;" name="otherEarnBill.remark" value="${(bill.remark)!}" readonly="readonly"/>
	                          附加说明
	        <input class="line" type="text" style="width:250px;" name="otherEarnBill.memo" value="${(bill.memo)!}" id="memo" readonly="readonly"/>
	        <#include "/WEB-INF/template/common/columnConfig/billRowConfigLink.html"/>
	        <span style="float: right;">
	            <#include "/WEB-INF/template/common/lookBillPreOrNext/page.html"/>
		        <div style="float: right;">
		        <img style="margin-top: 5px;" onclick="openOrderFujianDialog('${base}','${tableId}','0','${(bill.id)!}');" title="单据附件" src="${base}/img/bill/fujian.jpg" alt="单据附件">
		        <input type="hidden" id="orderFuJianIds" name="orderFuJianIds" value="${orderFuJianIds!}"/>
		        </div>
		    </span>
	     </div>
	</div>
	<div class="divider"></div>
	<div class="pageContent">
	   <#assign showWidth = 0/>
	   <#list rowList as row>
	     <#if row.width??>
	      <#assign showWidth = showWidth+row.width/>
	     </#if>
	   </#list>
	   <table class="table" model="order"  layoutH="234" width="${showWidth!}px">
	   
	        <thead>
			 <tr>
				<th width="50px" >
					行号
				</th>
				<#list rowList as row>
				   <th width="${(row.width)!100}px"> 
					 ${(row.showName)!(row.name)!}
				   </th>
				</#list>
			</tr>
		  </thead>
		  <tbody id="otherEarnBillbody" preDataName="otherEarnDetail">
		     <#list detailList as detail>
		     <tr>
		       <td>${detail_index+1}</td>
		       <!--  -->
		     <#list rowList as row>
		       <#if row.code?? && 'accountsCode'==row.code>
		       <!-- 科目编号-->
		       <td>
		             ${(detail.accounts.code)!}
		       </td> 
		       <#elseif row.code?? && 'accountsFullName'==row.code>
		       <!-- 科目名称 -->
		       <td>
		             ${(detail.accounts.fullName)!}
		       </td>
		       <#elseif row.code?? && 'accountsSmallName'==row.code>
		       <!-- 科目简称 -->
		       <td>
		            ${(detail.accounts.smallName)!}
		       </td>
		       <#elseif row.code?? && 'accountsSpell'==row.code>
		       <!-- 科目拼音码 -->
		       <td>${(detail.accounts.spell)!}</td>
		       <#elseif row.code?? && 'accountsMemo'==row.code>
		       <!-- 科目备注 -->
		       <td>${(detail.accounts.memo)!}</td>
		       <#elseif row.code?? && 'money'==row.code>
		       <!-- 金额 -->
		       <td> ${(detail.money)!}</td>
		       <#elseif row.code?? && 'orderMemo'==row.code>
		       <!-- 单据备注 -->
		       <td> ${(detail.memo)!}</td>
		       <#elseif row.code?? && 'message'==row.code>
		       <!-- 附加信息 -->
		       <td>${(detail.message)!}</td>
		       <#else>
		         <td></td>
		       </#if>
		      </#list>
		    
		     </tr>
		     </#list>
		  </tbody>
		  <tfoot>
		       <tr style="border-top: #D0D0D0 solid 1px">
		       <td>合计</td>
		       <#list rowList as row>
		            <#if row.code?? && 'money'==row.code>
		             <!-- 金额 -->
		             <td>${(bill.moneys)!}</td>
		            <#else>
		            <td></td>
		            </#if>
		       </#list>
		      
		       </tr>
		  </tfoot>
	   </table>
	   <div class="divider"></div> 
	   <div class="textContent center">
	     <div style="margin-top: 13px;">
	         <span>
	                                付款账户
             <input class="line" type="text" name="account.fullName" value="${payTypeAccounts!}" readonly="readonly"/>
	                                实付金额<input class="line number" type="text" value="${payOrgetMoneys!}" name="otherEarnBill.getMoney" readonly="readonly"/> 
	         </span>
			 <span style="float: right;">
		                合计：<input type="text" class="stealth" id="privilegeMoney" name="otherEarnBill.moneys" value="${(bill.moneys)!0}" style="width: 100px" readonly="readonly"/>
		    </span>
	     </div>
	   </div>
		<div class="divider"></div> 
		<div>
	     <div style="float: right;">
	         <#include "/WEB-INF/template/common/base/accountDetailCommomLink.html"/>
	         <#if model=='getDown'>
	        	<#assign privs = '610-p'/>
		    <#elseif model=='getUp'>
		    	<#assign privs = '611-p'/>
		    <#elseif model=='payDown'>
		    	<#assign privs = '612-p'/>
		    <#elseif model=='payUp'>
		    	<#assign privs = '613-p'/>
		    <#elseif model=='moneyDown'>
		    	<#assign privs = '615-p'/>
		    <#elseif model=='moneyUp'>
		    	<#assign privs = '614-p'/>
		    </#if> 
		    <#assign href = '${base}/finance/changeUnit/print'/>
			<#assign formId = 'pageForm'/>
			<#include "/WEB-INF/template/common/print/printBtn.html"/>
	        <a class="button" href="javascript:void(0);" onclick="navTab.closeCurrentTab()"><span>关闭</span> </a>
	     </div>
	    </div>
	</div>
    </form>
</div>
