<!-- 基本信息-》单位信息增加-》调用过 -->
<div id="b_area_search_dialog_table">
<div class="pageHeader">
	<form id="pagerForm" rel="pagerForm" method="post" class="pageForm required-validate" enctype="text/plain" action="${base}/base/area/${toAction!'dialogList'}" onsubmit="return dwzSearch(this, 'dialog');">
		<input type="hidden" name="pageNum" value="${(pageMap.get('pageNum'))!}" />
		<input type="hidden" name="numPerPage" value="${(pageMap.get('numPerPage'))!}" />
		<input type="hidden" name="orderField" value="${orderField!'rank'}" /><!--查询排序-->
	    <input type="hidden" name="orderDirection" value="${orderDirection!'asc'}" /><!--升序降序-->
		
		<input type="hidden" name="supId" value="${supId!0}" />
		<input type="hidden" name="selectedObjectId" id="selectedObjectId" value="${objectId!0}"/><!--默认选中对象的Id-->
		
		<input type="hidden" name="btnPattern" id="btnPattern" value="${btnPattern!''}"/><!--显示按钮模式-->
		<div class="searchBar">
		  <ul class="searchContent">
		   <li>
		    <select name="term">
		       <option value="quick">快速查询</option>
		       <option value="code" <#if term?? && term=='code'> selected="selected"</#if>>按地区编号查询</option>
		       <option value="fullName" <#if term?? && term=='fullName'> selected="selected"</#if>>按地区全称查询</option>
		       <option value="spell" <#if term?? && term=='spell'> selected="selected"</#if>>按地区拼音码查询</option>
		    </select>
		    &nbsp;&nbsp;
		    </li>
		    <li>
		    <input class="textInput" type="text" id="termVal" name="termVal" value="${termVal!}" size="50"/>&nbsp;&nbsp;
		    </li>
		    <li>
		    	<a style="margin-left: 15px;" class="button" href="javascript:submitChangeAction('termVal');"><span>查询</span></a>
		    </li>
	      </ul>
			
		</div>
	</form>
</div>
<div class="pageContent">
	<table class="table" layoutH="130" targetType="dialog">
	<thead>
		<tr>
			<th width="50" align="center">
				行号
			</th>
			<th width="100" align="center" orderField="code" <#if orderField?? && 'code'==orderField>class="${orderDirection!'asc'}"<#else>class="asc"</#if>>
				地区编号
			</th>
			<th width="100" align="center" orderField="fullName" <#if orderField?? && 'name'==orderField>class="${orderDirection!'asc'}"<#else>class="asc"</#if>>
				地区全称
			</th>
			<th width="100" align="center" orderField="spell" <#if orderField?? && 'spell'==orderField>class="${orderDirection!'asc'}"<#else>class="asc"</#if>>
				地区简拼
			</th>
		</tr>
	</thead>
	<tbody>
		<#list pageMap.pageList as area>
		  <#if area.node==2>
		  <tr objectId="${objectId!0}" rel="${area.id}" title="地区" cTarget="dialog" url="${base}/base/area/dialogList/${area.id}-${area.supId}">
		  <#else>
		   <tr objectId="${objectId!0}" rel="${area.id}"  ondblclick="javascript:$.bringBack({id:'${area.id}', fullName:'${area.fullName!}',pids:'${area.pids!}'})">
		  </#if>
			<td><a>${area_index+1+pageMap.limit}</a>
				<#if area.node==2>..</#if>
			</td>
			<td>
				${area.code!''}
			</td>
			<td>
				${area.fullName!''}
			</td>
			<td>
				${area.spell!''}
			</td>
		</tr>
		</#list>
	</tbody>
	</table>
</div>
<#include "/WEB-INF/template/unitl/dialogpage.html" />	
<!--divider虚线-->
<div class="divider"></div>
	<div>
	    <div style="margin-left: 10px;" class="button"><div class="buttonContent" onclick="selectTrClick()"><button type="button" class="button">选中</button></div></div>
	    <#if btnPattern?? && btnPattern!="">
	    	<@shiro.hasPermission name='1-21-202-a'>
		    	<a   style=" <#if btnPattern?index_of("optionAdd") == -1 >display:none;</#if>  " class="button" href="${base}/base/area/add/${supId!0}" href1="${base}/common/baseInfo/verifyBaseAddPrivs/${supId!0}-area" modelType="newUrlValidate" callBefore="callBeforeNavTabValidate" rel="b_area_add" target="dialog" width="420" height="360"><span>新增</span></a>
		    </@shiro.hasPermission>
		    <div style=" <#if btnPattern?index_of("selectMany") == -1 >display:none;</#if> " class="button"><div class="buttonContent" onclick="selectTrSortClick()"><button type="button" class="button">选中一类</button></div></div>
		    <div style=" <#if btnPattern?index_of("selectAll") == -1 >display:none;</#if> " class="button"><div class="buttonContent" onclick="javascript:$.bringBack({id:0,fullName:'全部地区',pids:'{0}'})"><button type="button" class="button">全部</button></div></div>
		</#if>
		<#if supId?? && supId!=0>
		   <a class="button" href="${base}/base/area/dialogList/${pSupId!0}-${supId!0}" relevancyIds="btnPattern" target="ajax"  rel="b_area_search_dialog_table"><span>上级</span></a>
	    <#else>
		   <a class="buttonDisabled" href="javascript:void(0);"><span>上级</span></a>
	    </#if>
	</div>
	<div style="float: right; margin-right: 10px;">
		<div class="button"><div class="buttonContent"><button type="button" class="close">关闭</button></div></div>
	</div>
</div>
