<div class="panel">
	<div style="height: 25px;">
		<label><span style="font:bold 18px '宋体',Arial,Times; margin-left: 20px">地区信息</span></label>
		<#include "/WEB-INF/template/common/columnConfig/columnConfigSetLink.html"/>
	</div>
	<div layoutH="20">
		<div style="float:left; display:block; overflow:auto; width:210px; border:solid 1px #CCC; line-height:21px; background:#fff" layoutH="42">
			<ul id="areaTree" target="ztree" selectNodeId="${supId!0}" class="ztree" url="${base}/base/area/tree" rel="areaList" ctarget="ajax"></ul>
		</div>
		<div id="areaList" style="margin-left: 220px;padding:2px; padding-top: 0px;" layoutH="40">
			<#include "list.html" />
		</div>
	</div>
</div>