<div class="panel pageContent">
   <div class="pageHeader">
      <div>
          <span style="font:bold 18px '宋体',Arial,Times;">进货订单执行过程</span>
      </div>
      <div>
          <div  style="float: right;margin-right: 10px;height: 25px">
				   <a href="${base}/fz/reportRow/search/cg5013" target="dialog" rel="reportRowView"  width="520" height="500"><img src="${base}/img/base/setting.png" width="20px" height="20px" title="列配置"/></a>
		 </div>
      </div>
   </div>
   <div id="boughtBillExecuteList">
      <#include "executeList.html"/> 
   </div>
</div>

