<div class="pageContent">
   <form action="${base}/sys/permission/password" method="post" class="pageForm tableForm" enctype="text/plain" onsubmit="return validateCallback(this,dialogReloadDialog)">
      <input type="hidden" name="userId" value="${(user.id)!}"/>
      <div layoutH="35">
	       <fieldset>
			    <legend>设置密码</legend>
				   <div align="center" style="line-height: 60px;">
				   		登录名：<input type="text" class="required" name="username" value="${(user.username)!}" maxlength="50"/>
				   </div>
				   <div align="center" style="line-height: 60px;">
				   		密码：<input type="password"  name="password" value="" maxlength="18"/>
				   </div>
		   </fieldset>
	 </div>
	 
	  <!--提交按钮  -->
	  <div class="formBar">
		<ul>
			<li><div class="buttonActive"><div class="buttonContent"><button type="submit">确定</button></div></div></li>
			<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
		</ul>
	  </div>
	  <!--end 提交按钮  -->
   </form>
</div>